// Responsive ----------
.o-containerMalls
	width 100%
	height 100%
.o-containerMalls__list
	list-style-type none
	margin-bottom 10px
	display flex
	flex-flow column wrap
	justify-content flex-start
	width 100%
	height 100%
.o-containerMalls__item
	width auto
	height auto
	padding 5px
	
.o-containerMalls--horizontal
	flex-flow column wrap
.o-containerMalls--vertical
	flex-flow row wrap
	
@media screen and (max-width:1300px){
	.o-containerMalls{
		flex-flow row wrap
	}
}
