// Responsive ----------
.o-containerPromotionsList
	width auto
	padding 0
	margin 0
.o-containerPromotionsList__list
	display flex
	flex-flow row wrap
	justify-content center
	padding 0
	margin 0

.o-containerPromotionsList__item
	width auto
	display flex
	justify-content center
	padding 0 5px
	

@media screen and (max-width:1300px){

}
