@import '../resources/colors.styl'
@import '../resources/mixins.styl'
@import '../atoms/fonts/font.styl'

.a-font
	display flex
	flex-direction column
	justify-content center
.a-font__sample
	width auto
	height auto
	padding 10px 0 10px 10px
	border-bottom 1px solid gray
	font-size 18px