@import '../molecules/card/card-text.styl'
@import '../molecules/card/card-brief.styl'
@import '../molecules/card/card-image.styl'
@import '../molecules/card/card-video.styl'
@import '../molecules/card/card-coverMagazine.styl'
@import '../molecules/card/card-mall.styl'