@import '../organisms/malls-list.styl'

@import '../molecules/list/buttonText.styl'

@import '../molecules/card/card-mall.styl'
@import '../molecules/card/card-brief.styl'
@import '../molecules/card/card-image.styl'
@import '../molecules/card/card-text.styl'
@import '../molecules/card/card-video.styl'
@import '../molecules/card/card-coverMagazine.styl'

