<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'atomButton'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Atoms > Button
			section.mainMenu
		section(class="body")
			include ../components/awdMenu
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Button
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Round-button
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "atom-round-button btnCss"},{"txt" : "html", "cls" : "atom-round-button btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
								- var text ="Iniciar sesión"							
								- var cmp = 'atom-round-button';
								- var variants = ['flat', 'border', 'shadow'];
								- var mode = cmp+'__'+variants[1]
								include ../components/variants							
								
							include ../components/atom-round-button
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Round-button-code
							- var codeComponent = 'code-atom-round-button';
							include ../components/code




					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Carousel-button
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "atom-carousel-button btnCss"},{"txt" : "html", "cls" : "atom-carousel-button btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
								- var icon ="arrow_back"							
								- var cmp = 'atom-carousel-button';
								- var variants = ['flat', 'border', 'shadow'];
								- var mode = cmp+'__'+variants[0]
								include ../components/variants							
								
							include ../components/atom-carousel-button
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Carousel-button-code
							- var codeComponent = 'code-atom-carousel-button';
							include ../components/code


					