<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'atomButton'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Atoms > Button
			section.mainMenu
		section(class="body")
			include ../components/awdMenu
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Button
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-text
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "card-text btnCss"},{"txt" : "html", "cls" : "card-text btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-text
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-text-code
							- var codeComponent = 'code-card-text';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-brief
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "card-brief btnCss"},{"txt" : "html", "cls" : "card-brief btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-brief
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-brief-code
							- var codeComponent = 'code-card-brief';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-image
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "card-image btnCss"},{"txt" : "html", "cls" : "card-image btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-image
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-image-code
							- var codeComponent = 'code-card-image';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-mall
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "card-mall btnCss"},{"txt" : "html", "cls" : "card-mall btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-mall
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-mall-code
							- var codeComponent = 'code-card-mall';
							include ../components/code		


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-coverMagazine
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "card-coverMagazine btnCss"},{"txt" : "html", "cls" : "card-coverMagazine btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-coverMagazine
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-coverMagazine-code
							- var codeComponent = 'code-card-coverMagazine';
							include ../components/code

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-video
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "card-video btnCss"},{"txt" : "html", "cls" : "card-video btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-video
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-video-code
							- var codeComponent = 'code-card-video';
							include ../components/code

										

							- var menu = false;
