<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'componentCard'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Components > Card
			section.mainMenu
		section(class="body")
			nav(class="side-nav")
				span(class="side-nav__section-title")
					|	Material Organisms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.organisms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}

				span(class="side-nav__section-title")
					|	Material Components
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.components
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Cards
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-text
							- var menu = ['styles', 'html'];
							- var menuColor = ['card-text btnCss', 'card-text btnHtml'];
							include ../components/buttonText-list

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-text
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-text-code
							- var codeComponent = 'code-card-text';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-brief
							- var menu = ['styles', 'html'];
							- var menuColor = ['card-brief btnCss', 'card-brief btnHtml'];
							include ../components/buttonText-list

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-brief
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-brief-code
							- var codeComponent = 'code-card-brief';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-image
							- var menu = ['styles', 'html'];
							- var menuColor = ['card-image btnCss', 'card-image btnHtml'];
							include ../components/buttonText-list

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-image
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-image-code
							- var codeComponent = 'code-card-image';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-mall
							- var menu = ['styles', 'html'];
							- var menuColor = ['card-mall btnCss', 'card-mall btnHtml'];
							include ../components/buttonText-list

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-mall
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-mall-code
							- var codeComponent = 'code-card-mall';
							include ../components/code		


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-coverMagazine
							- var menu = ['styles', 'html'];
							- var menuColor = ['card-coverMagazine btnCss', 'card-coverMagazine btnHtml'];
							include ../components/buttonText-list

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-coverMagazine
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-coverMagazine-code
							- var codeComponent = 'code-card-coverMagazine';
							include ../components/code

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Card-video
							- var menu = ['styles', 'html'];
							- var menuColor = ['card-video btnCss', 'card-video btnHtml'];
							include ../components/buttonText-list

							h3(class="main-article__component--device")
								| Responsive
							include ../components/card-video
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Card-video-code
							- var codeComponent = 'code-card-video';
							include ../components/code

										

							- var menu = false;
