<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'componentList'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Components > List
			section.mainMenu
		section(class="body")
			nav(class="side-nav")
				span(class="side-nav__section-title")
					|	Material Organisms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.organisms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}

				span(class="side-nav__section-title")
					|	Material Components
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.components
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Lists
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					


					// --------------------------------------------------------
					
					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Simple-list
							- var menu = ['styles', 'html'];
							- var menuColor = ['simple-list btnCss', 'simple-list btnHtml'];
							include ../components/buttonText-list


							include ../components/simple-list
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Simple-list-code
							- var codeComponent = 'code-simple-list';
							include ../components/code

					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Icon-list
							- var menu = ['styles', 'html'];
							- var menuColor = ['icon-list btnCss', 'icon-list btnHtml'];
							include ../components/buttonText-list


							include ../components/icon-list
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Icon-list-code
							- var codeComponent = 'code-icon-list';
							include ../components/code

					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| IconText-list
							- var menu = ['styles', 'html'];
							- var menuColor = ['iconText-list btnCss', 'iconText-list btnHtml'];
							include ../components/buttonText-list


							include ../components/iconText-list
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| IconText-list-code
							- var codeComponent = 'code-iconText-list';
							include ../components/code


					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| ButtonText-list
							- var menu = ['styles', 'html'];
							- var menuColor = ['buttonText-list btnCss', 'buttonText-list btnHtml'];
							include ../components/buttonText-list


							- var menu = false;
							include ../components/buttonText-list
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| ButtonText-list-code
							- var codeComponent = 'code-buttonText-list';
							include ../components/code

