<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'componentList'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Components > List
			section.mainMenu
		section(class="body")
			nav(class="side-nav")
				span(class="side-nav__section-title")
					|	Material Organisms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.organisms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}

				span(class="side-nav__section-title")
					|	Material Components
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.components
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Lists
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					

					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| List-container
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "list-container btnCss"},{"txt" : "html", "cls" : "list-container btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							- var cmp = 'list-container';
							- var variants = ['list-Vertical', 'list-Horizontal'];
							- var mode = cmp+'__'+variants[2]
							include ../components/variants
							- var customList = {elements : 10, include: 'card-mall'};
							include ../components/list-container
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| List-container-code
							- var codeComponent = 'code-list-container';
							include ../components/code

					// --------------------------------------------------------
					
					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| List-simple
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "list-simple btnCss"},{"txt" : "html", "cls" : "list-simple btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							- var cmp = 'list-simple';
							- var variants = ['list-bold', 'list-light', 'list-pipe'];
							- var mode = cmp+'__'+variants[2]
							include ../components/variants
							- var customList = false;
							include ../components/list-simple
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| List-simple-code
							- var codeComponent = 'code-list-simple';
							include ../components/code

					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| List-icon
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "list-icon btnCss"},{"txt" : "html", "cls" : "list-icon btnHtml"}];
							include ../components/list-buttonText


							h3(class="main-article__component--device")
								| Responsive
							- var customList = false;
							include ../components/list-icon
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| List-icon-code
							- var codeComponent = 'code-list-icon';
							include ../components/code

					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| List-complete
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "list-complete btnCss"},{"txt" : "html", "cls" : "list-complete btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							- var cmp = 'list-complete';
							- var variants = ['list-vrtPipe', 'list-hrtPipe', 'list-vrt', 'list-hrt'];
							- var mode = cmp+'__'+variants[2];
							include ../components/variants

							- var customList = [{"txt" : "", "ico" : "icon-office"},{"txt" : "Inicia session", "ico" : ""},{"txt" : "Cart", "ico" : "material-icons", "icoName" : "search"}];
							include ../components/list-complete
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| List-complete-code
							- var codeComponent = 'code-list-complete';
							include ../components/code


					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| List-buttonText
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "list-buttonText btnCss"},{"txt" : "html", "cls" : "list-buttonText btnHtml"}];
							include ../components/list-buttonText


							- var menu = false;
							h3(class="main-article__component--device")
								| Responsive
							- var customList = false
							include ../components/list-buttonText
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| List-buttonText-code
							- var codeComponent = 'code-list-buttonText';
							include ../components/code

					// --------------------------------------------------------

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| List-galerias-login
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "list-galerias-login btnCss"},{"txt" : "html", "cls" : "list-galerias-login btnHtml"}];
							include ../components/list-buttonText


							- var menu = false;
							h3(class="main-article__component--device")
								| Responsive
							- var customList = [{"txt" : "ACCEDER", "cls" : "list-buttonText"},{"txt" : "REGÍSTRATE", "cls" : "list-buttonText"}];                        				
							include ../components/list-galerias-login
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| List-galerias-login-code
							- var codeComponent = 'code-list-galerias-login';
							include ../components/code