<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'componentMosaic'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Components > Mosaic
			section.mainMenu
		section(class="body")
			nav(class="side-nav")
				span(class="side-nav__section-title")
					|	Material Organisms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.organisms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}

				span(class="side-nav__section-title")
					|	Material Components
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.components
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
			

			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Mosaic
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					



					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Mosaic-simple
							- var customList = [{"txt" : "styles", "cls" : "mosaic-simple btnCss"},{"txt" : "html", "cls" : "mosaic-simple btnHtml"}];
							include ../components/list-buttonText


							include ../components/mosaic-simple
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Mosaic-simple-code
							- var codeComponent = 'code-mosaic-simple';
							include ../components/code



					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Mosaic-full
							- var customList = [{"txt" : "styles", "cls" : "mosaic-full btnCss"},{"txt" : "html", "cls" : "mosaic-full btnHtml"}];
							include ../components/list-buttonText
							
							h3(class="main-article__component--device")
								| Choose Type
							- var cmp = 'mosaic-full';
							- var variants = ['responsive', 'adaptative'];
							- var mode = cmp+'__'+variants[1]
							include ../components/variants
							include ../components/mosaic-full
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Mosaic-full-code
							- var codeComponent = 'code-mosaic-full';
							include ../components/code


					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Mosaic-square
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "mosaic-square btnCss"},{"txt" : "html", "cls" : "mosaic-square btnHtml"}];
							include ../components/list-buttonText

							h3(class="main-article__component--device")
								| Responsive
							- var cmp = 'mosaic-square';
							- var variants = ['mosaic-2', 'mosaic-3', 'mosaic-4', 'mosaic-5'];
							- var mode = cmp+'__'+variants[2]
							include ../components/variants
							- var customList = false;
							include ../components/mosaic-square
						div(class="main-article__component--code")
							h2(class="main-article__component--title")
								| Mosaic-square-code
							- var codeComponent = 'code-mosaic-square';
							include ../components/code