<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'home'
	include ../components/headers
	body
		section.mainContainer
			// include ../components/head
			//- include ../components/menu
			//- include ../components/simpleCarousel
			//- - var entryTitle = "Llegó la Navidad"
			//- include ../components/quickEntries
			//- - var entryTitle = "Favoritos"
			//- include ../components/quickEntries