<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'home'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="#")
					span(class="icon-home")
					span
						|	UX Design

			section.breadcrums
			section.mainMenu
		section(class="body")
			include ../components/awdMenu

