<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'organismsFooter'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Organisms > Footer
			section.mainMenu
		section(class="body")
			nav(class="side-nav")
				span(class="side-nav__section-title")
					|	Material Organisms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.organisms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}

				span(class="side-nav__section-title")
					|	Material Components
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.components
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Footer
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					


					// --------------------------------------------------------
					
					div(class="main-article__organisms")
						div(class="main-article__organisms--view")
							h2(class="main-article__organisms--title")
								| Footer-basic
							- var menu = ['styles', 'html'];
							- var menuColor = ['footer-basic btnCss', 'footer-basic btnHtml'];
							include ../components/list-buttonText

							h3(class="main-article__organisms--device")
								| Responsive
							include ../components/footer-basic
						div(class="main-article__organisms--code")
							h2(class="main-article__organisms--title")
								| Footer-basic-code
							- var codeComponent = 'code-footer-basic';
							include ../components/code

