<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'organismCard-bottom-gradient'
	include ../components/structureConfiguration
	include ../components/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Organism > Card bottom gradient
			section.mainMenu
		section(class="body")
			nav(class="side-nav")
				span(class="side-nav__section-title")
					|	Atoms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.atoms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
				
				span(class="side-nav__section-title")
					|	Molecules
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.components
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}

				span(class="side-nav__section-title")
					|	Organisms
				ul(class="side-nav__menu side-nav__menu--sections")
					each v0,i0 in config.organisms
						li(class='side-nav__menu-item')
							a(href="" + v0.src, target="" + v0.target, class='side-nav__link') #{v0.name}
			

			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Card bottom gradient
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					



					div(class="main-article__organisms")
						div(class="main-article__organisms--view")
							h2(class="main-article__organisms--title")
								| Card-bottom-gradient
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "org-Card-bottom-gradient btnCss"},{"txt" : "html", "cls" : "org-Card-bottom-gradient btnHtml"}];
							include ../components/list-buttonText

							include ../components/org-card-bottom-gradient
						div(class="main-article__organisms--code")
							h2(class="main-article__organisms--title")
								| Card-bottom-gradient-code
							- var codeComponent = 'code-org-Card-bottom-gradient';
							include ../components/code