colors = {
	primary : red,
	primaryFocus : #E10098,
	second : #E10098,
	secondFocus : #E10098,
	success : #E10098,
	successFocus : #E10098,
	cancel : #E10098,
	cancelFocus : #E10098,
	print : #E10098,
	printFocus : #E10098,
	save : #E10098,
	saveFocus : #E10098,
	white : white,
	txtPrimary : gray,
	black: black,
	gray: gray,
	gray2: #eaeaea,
	lightGray: #d3d3d3,
	darkGray:#2d2d2d,
	active:#ef4749,
	red:#e81818
}

