@import 'colors'
@import 'fonts'
@import 'mixins'
// @import 'components/sites'
@import 'components/head'
@import 'components/menu'
@import 'components/simpleCarousel'
@import 'components/quickEntries'