if dataRadio.chk
	input(type="radio", id=""+dataRadio.id, name=""+dataRadio.name, value=""+dataRadio.value, class="a-radioButton" checked) 
	label(class="a-labelRadio" for=""+dataRadio.id)
		| #{dataRadio.value}
else
	input(type="radio", id=""+dataRadio.id, name=""+dataRadio.name, value=""+dataRadio.value, class="a-radioButton") 
	label(class="a-labelRadio" for=""+dataRadio.id)
		| #{dataRadio.value}