.atom-label-top
    color #a6a6b2
    font-weight bolder
    font-size 50px
    text-transform uppercase
    font-family "Source Sans Pro", sans-serif

.atom-label-top-hr    
    width 100%
    margin-top -14px
    color #a6a6b2
    border none
    background-color #a6a6b2
    height 3px
