@import '../colors'
// Responsive ----------
.buttonText-list
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
	list-style-type none
.buttonText-list-item
	width 100%
	text-align center
	padding 5px
	width auto

.buttonText-list-item:hover, .buttonText-list-item button:hover
	cursor pointer
	
.buttonText-list-item button
	border 0
	padding 10px
	background: colors.darkGray;
	color white

	
	
@media screen and (max-width:1300px){
	.buttonText-list{
		flex-direction: column;
	}
	.buttonText-list-item, .buttonText-list-item button{
		text-align: center;
		width: 100%;
	}
}
