.card-image
	width 250px
	height 250px
	display flex
	flex-flow row wrap
.card-image-section
	text-transform uppercase
	font-size 10px
.card-image-title:hover
	color gray
	cursor pointer
.card-image-time
	font-size 10px
	font-family 'Roboto Condensed',sans-serif
	color gray
	