.card-brief
	width 250px
	height 250px
	border-bottom 1px dotted black
	display flex
	flex-flow row wrap
.card-brief-section
	text-transform uppercase
	font-size 10px
.card-brief-title:hover
	color gray
	cursor pointer
.card-brief-description
	font-size 15px
	font-family 'Roboto Condensed',sans-serif
.card-brief-time
	font-size 10px
	font-family 'Roboto Condensed',sans-serif
	color gray
	