.card-brief
	width 250px
	height 250px
	border-bottom 1px dotted black
	display flex
	flex-flow row wrap
.card-brief-section
	text-transform uppercase
	font-size 10px
.card-brief-title
	font-size 1.5em
.card-brief-title:hover
	background: -webkit-linear-gradient(left top, #7b4397, #dc2430);
	background: linear-gradient(to bottom right, #7b4397, #dc2430);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent;
	cursor pointer
.card-brief-description
	font-size 15px
	font-family 'Roboto Condensed',sans-serif
.card-brief-time
	font-size 10px
	font-family 'Roboto Condensed',sans-serif
	color gray
	