.card-mall
	width 400px
	height 340px
	display flex
	flex-flow row wrap
	position relative
	box-shadow 1px 1px 5px 1px #92949c
	margin 5px

.modal_hidden
	display none
.modal_show
	display block
	
.card-mall__modal
	position absolute
	left 0
	top 0
	background white
	width 100%
	height 100%
	z-index 2
	font-family 'Source Sans Pro', sans-serif
.card-mall__modal > *
	margin-bottom 5px
	
.card-mall__modal--close
	text-align right
	padding-right 12px
	padding-top 12px
.card-mall__modal--logo
	padding-left 20px
	height 92px
	width 92px

.card-mall__modal--direction,
.card-mall__modal--thelepone,
.card-mall__modal--email
	padding-left 20px
	font-size 12px
	
.card-mall__modal--detail
	padding-left 20px
	padding-top 5px
.card-mall__modal--detail h4
	font-size 16px
	
.card-mall__modal--detail_item
	padding-top 10px
	padding-left 30px
	list-style-type initial
	font-size 12px
	
.card-mall-media img
	width 100%
	height 251px

.card-mall__brief
	width inherit
	height 20%
	display flex
	flex-flow row wrap
	position relative
	z-index 1
	
.card-mall__brief--Title
	width 82%
	height 22px
	margin-left 20px
	margin-top 10px
	
.card-mall__brief--Title h3
	font-size 22px
	font-family 'Source Sans Pro', sans-serif
	font-weight normal
	color #0D1227
	
	
.card-mall__brief--reveal
	font-size 22px
	width 10%
	height 22px
	margin-top 10px
.card-mall__brief--reveal span:hover,
.card-mall__modal--close span:hover
	cursor pointer
	
	
.card-mall__brief--anchor
	width 100%
	margin-left 20px
	
.card-mall__brief--anchor a
	font-size 12px
	font-family 'Source Sans Pro', sans-serif
	font-weight normal
	color #0D1227
.card-mall__brief--anchor a:hover
	color #F5A623
	cursor pointer