.finder-simple    
    width 100%    

.finder-simple-textB
    height 40px
    padding 10px
    width 100%
    font-size 14px

@media screen and (max-width:1300px)
    .finder-simple-textB        
        padding 5px
        font-size 11px
