/*TSTNG HEADER STYLES

.header-test
  display grid
  grid-template-columns repeat(12,1fr)

.header-container-test
  grid-column 1 / span 12

.login-section-header
  grid-column 1 / span 12

.logo-section-header
  grid-column 2 / span 1

.menu-section-header
  grid-column 3 / span 9
*/
.finder-left-icon-background
  display grid
  grid-template-columns repeat(10,1fr)
  background rgba(17, 23, 53, 0.5)
  padding 2%
  opacity 0.7

.finder-left-icon-container
  grid-column 2 / span 8
  background rgba(255, 255, 255, 0.5)
  border-radius 3px
  display grid
  grid-template-columns repeat(6,1fr)
  grid-gap: 1px

.finder-left-icon-item-button
  grid-column 1 / span 1  
  align-self center

.finder-left-icon-button      
  color #ffffff
  cursor pointer
  font-size 20px
  padding-left 20px


.finder-left-icon-item-text  
  grid-column 2 / span 4
  padding 0
  margin-top 1%
  align-self center 

.finder-left-icon-text    
  width 100%
  border none
  background none
  height 30px
  outline none
  color #FFF
  font-size 13px
  font-style normal
  font-weight lighter

.finder-left-icon-text::placeholder
  color: #fff;

.finder-left-icon-text:focus
  color: #fff

@media screen and (max-width:1300px)
    .finder-left-icon-text        
      padding 5px
      font-size 11px    

    .finder-left-icon-button 
      font-size 10px