
.finder-icon-container
  width: 30%;
  position: absolute;  

.finder-icon-search 
  width: 100%;  

.finder-icon-text 
  float: left;
  width: 100%;
  border: 3px solid #c0c0c0;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #DDD;

.finder-icon-text:focus
  color: #000;


.finder-icon-button 
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #c0c0c0;
  background: #DDD;
  text-align: center;
  color: #5d5d5d;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;



@media screen and (max-width:1300px)
    .finder-icon-text        
        padding 5px
        font-size 11px
    
    .finder-icon-button 
        font-size: 10px;