
.finder-right-icon__search 
	width: 100%;  

.finder-right-icon__text:focus
	color: #000;

.finder-right-icon__search
	display flex
	flex-direction row
	justify-content space-between
	width 98%
	background #c0c0c0
	border-radius 5px
	outline none
	padding 5px
	
.finder-right-icon__text
	width 100%
	border 0
	padding 5px
	height auto

	outline none
	color #DDD
.finder-right-icon__button
	width 40px
	height 36px
	border 0
	text-align center
	color #5d5d5d
	
	font-size 20px
.finder-right-icon__button:hover
	cursor pointer
	


@media screen and (max-width:1300px)
	.finder-right-icon__text        
			padding 5px
			font-size 11px
			
	.finder-right-icon__button 
			font-size: 10px;