// Desktop ----------
.icon-list--desktopMobile
	margin-bottom 10px
	overflow hidden
	// border 1px solid #4da570
.icon-list--desktopMobile
	display flex
	flex-direction row
	justify-content space-around
.icon-list-item--desktopMobile
	width 100%
	text-align center
	padding 5px
.icon-list-item--desktopMobile:last-child
	border-right 0px solid transparent
.icon-list-item--desktopMobile:hover
	cursor pointer
	color #4da570
	border-bottom 2px solid #4da570