.left-icon-finder-container
  display: grid;
  grid-template-columns: repeat(10,1fr);  
  grid-gap: 1px;
  border: 1px solid #111735;
  border-radius: 5px; 

.left-icon-finder-item-button 
  grid-column 1 / span 1
  padding 0
  align-self center

.left-icon-finder-button  
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  background: #ffffff;
  text-align: center;
  color: #5d5d5d;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

.left-icon-finder-item-text
  grid-column 2 / span 8
  padding 0
  margin-top 1%
  align-self center 

.left-icon-finder-text    
  width: 100%;
  border: 3px solid #ffffff;  
  height: 20px;  
  outline: none;
  color: #DDD;
  font-size 14px

.left-icon-finder-text:focus
  color: #000;

@media screen and (max-width:1300px)
    .left-icon-finder-text        
        padding 5px
        font-size 11px
    
    .left-icon-finder-button 
        font-size: 10px;