// Responsive list-icon ----------
.list-icon
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
	list-style-type none
.list-icon-item
	width 100%
	text-align center
	padding 5px
.list-icon-item:last-child
	border-right 0px solid transparent
.list-icon-item:hover
	cursor pointer
	color #4da570
	border-bottom 2px solid #4da570
	

@media screen and (max-width:1300px){
	.list-icon{
		flex-direction: column;
	}
	.list-icon-item{
		text-align: left;
	}
	.list-icon-item:hover{
		cursor: pointer;
		color: #4da570;
		border-bottom: 0;
	}
}
