@import '../colors'
// Responsive ----------
.list-buttonText
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
	list-style-type none

.list-buttonText-item
	width 100%
	text-align center
	padding 5px
	width auto

.list-buttonText-under-hr
	width 100%
	color #f3b70e
	border none
	background-color #f3b70e
	height 2px

@media screen and (max-width:1300px){
	.list-buttonText{
		flex-direction: column;
	}
}
