@import '../colors'
// Responsive ----------
.list-buttonText
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
	list-style-type none
.list-buttonText-item
	width 100%
	text-align center
	padding 5px
	width auto


	
	
@media screen and (max-width:1300px){
	.list-buttonText{
		flex-direction: column;
	}

}
