// Responsive ----------
.list-container
	list-style-type none
	margin-bottom 10px
	display flex
	flex-flow column wrap
	justify-content center
	width 100%
	height 100%
.list-container-item
	width auto
	height auto
	padding 5px

[data-mode="list-container__list-Horizontal"]
	flex-flow column wrap

[data-mode="list-container__list-Vertical"]
	flex-flow row wrap

	
@media screen and (max-width:1300px){
	.list-container{
		flex-flow row wrap
	}
}
