.wrapper-navMenu
	display flex
	width 100%
	
.menuList, .finder
	width 100%
	// FLEX
	display flex
.finder
	padding-top 10px
	// FLEX
	justify-content flex-end
.wrapper
	padding 5px 10px
	background: colors.gray2;
	margin-bottom 10px
	width 234px
.inFinder
	input
		width 90%
		border 0
		background transparent
		outline 0
		&::placeholder
			color: colors.black
			font-weight bold
			mx-upperCase()
			
	span
		width 5%
		margin-left 2%
	
.menuList
	ul
		list-style-type none
		display flex
		width 100%
		flex-wrap nowrap
		justify-content space-between
		background: colors.darkGray;
		li
			display flex
			// border 1px solid blue
			mx-nav-horizontal(colors.white,colors.black,11px,colors.gray2,none)
			a
				mx-upperCase()
				flex-grow 1
				
.wrapperSubMenu
	display flex
	width 100%
	flex-wrap nowrap
	justify-content space-between
	background: colors.gray2;
	dl
		display flex
		width 100%
		flex-direction column
		
	a
		text-decoration none
	dt
		mx-upperCase()
		padding 3% 0
		a
			color: colors.darkGray;
			&:hover
				cursor text
				text-decoration none
	dd a
		color: colors.gray;
		font-size 0.8em
		&:hover
			text-decoration underline
			cursor pointer	
	dt, dd
		width 100%
		padding-left 10%
	
	.adSuMenu
		padding-left 0		
			
// ====================== Icons used within the component ======================
icon-search(before)

@media screen and (max-width: 750px) {
	.finder{
		display: none;
	}
	// nav.menuList{
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// }
}