.mosaic-square
	list-style-type none
	width 100%
	height 100%
	margin 0
	padding 0
	display flex
	flex-flow row wrap
	justify-content flex-start
	align-content flex-start

.mosaic-square-item{
	margin: 1px;
	padding: 0;
	background: #7b4397;
	background: -webkit-linear-gradient(to right, #7b4397, #dc2430);
	background: linear-gradient(to right, #7b4397, #dc2430);
	width: 100%;
	height: 100%;
}

[data-mode="mosaic-square__mosaic-5"] li
	// flex-basis: 19%;
	width: 19%;
	height: 19%;
[data-mode="mosaic-square__mosaic-4"] li
	// flex-basis: 24%;
	width: 24%;
	height: 24%;
[data-mode="mosaic-square__mosaic-3"] li
	// flex-basis: 32%;
	width: 32%;
	height: 32%;
[data-mode="mosaic-square__mosaic-2"] li
	// flex-basis: 49%;
	width: 49%;
	height: 49%;