.wrapperQuickEntries
	mx-reduce()
	mx-width(80%)
	// mx-height(700px)
	mx-center-container()
	// position relative
	pading-top 30px
	// border 1px solid red	
	margin-top 30px
	.entryTitle
		mx-width(100%)
		text-align center
	.threeEntry
		display flex
		mx-reduce()
		mx-list-threeEntry(transparent, inline-block, 400px)
	