// ====================== Icons used within the component ======================
icon-menu(before)
icon-search(after)

.iBtnSearch
	display none

#menu-toggle, .label-toggle
	display none

@media screen and (max-width: 750px) {
	.nav-menu{
		display: block;
		height: 0;
		list-style-type: none;
		// opacity: 0;
		text-align: center;
		width: 100%;
		visibility: hidden;
		li {
			// border-bottom: 2px solid $color2;
			display: block;
			font-size: 1.5em;
			padding: 2em 0;
		}
	}
	#menu-toggle:checked ~ .nav-menu {
		opacity: 1;
		height: 15vh;
		visibility: visible;
	}
	.label-toggle{
		cursor: pointer;
		display: block;
		position: absolute;
		left : 0;
		top: 0;
		// border: 1px solid red;
		font-size: 2em;
		// float: left;
		height: 35px;
		// margin-top: 1em;
		width: 35px;
		text-align: center;
		z-index: 10;
	}
	#topnav-container{
		display: block;
		width: 100%;
		// border: 1px solid red;
		.nav-columns {
			width: 100% !important;
		}
	}
	#brand-logo{
		margin-top: 10px;
	}
	#nav-search-box{
		display: block;
		width: 100%;
		.search_box_form{
			position: relative;
			padding: 5px 10px;
			background: #e1e1e1;
			border: 1px solid #dadada;
			.field-search{
				width: 90% !important;
				padding: 0 10px !important;
				height: 44px;
				background: white !important;
				margin: 0;
			}
			.btnSearch, .field-search{
				position: static !important;
			}
			.btnSearch{
				display: none;
			}
			.iBtnSearch{
				display: inline-block !important;
				font-size: 1.9em;
				width: 5%;
				margin: 0;
				height: 40px
				text-align: center;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
	//  Hidden
	.cross-brand-bar, .sub-brand-bar-container{
		display: none;
	}
}