// Desktop ----------
.simple-list--desktop
	margin-bottom 10px
	overflow hidden
.simple-list--desktop
	display flex
	flex-direction row
	justify-content space-around
.simple-list-item--desktop
	width 100%
	border-right 1px solid gray
	text-align center
	padding 5px
.simple-list-item--desktop:last-child
	border-right 0px solid transparent
.simple-list-item--desktop:hover
	cursor pointer
	background-color #f5f5f5


// Mobile ----------
.simple-list--mobile
	margin-bottom 10px
	overflow hidden
.simple-list--mobile
	display flex
	flex-direction column
	justify-content space-around
.simple-list-item--mobile
	width 100%
	border-bottom 1px solid gray
	padding 5px
.simple-list-item--mobile:last-child
	border-bottom 0px solid transparent
.simple-list-item--mobile:hover
	cursor pointer
	background-color #f5f5f5
