// Responsive ----------
.simple-list
	list-style-type none
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
.simple-list-item
	width 100%
	text-align center
	padding 5px
.simple-list-item > *
	color inherit
	
.simple-list-item:hover
	cursor pointer
	font-weight bold
	

[data-mode="simple-list__list-pipe"] li
	font-family 'Source Sans Pro', sans-serif
	border-right 1px solid gray
	
[data-mode="simple-list__list-pipe"] li:last-child
	border-right 0px solid transparent

[data-mode="simple-list__list-light"] li
	font-family 'Source Sans Pro', sans-serif
	font-weight lighter

[data-mode="simple-list__list-bold"] li
	font-family 'Source Sans Pro', sans-serif
	font-weight bold

	
@media screen and (max-width:1300px){
	.simple-list{
		flex-direction: column;
	}
	.simple-list-item{
		border: 0px;
		text-align: left;
		margin-bottom: 15px;
	}
	.simple-list-item:last-child{
		border-bottom: 0px solid transparent;
	}
}
