.simple-finder    
    width 100%    

.simple-finder-textB
    height 40px
    padding 10px
    width 100%
    font-size 14px

.simple-finder-button    
    padding 3px
    width 5%
    font-size 12px


@media screen and (max-width:1300px)
    .simple-finder-textB        
        padding 5px
        font-size 11px
