.m-cardBrief	
	width 250px
	height 250px
	border-bottom 1px dotted black
	display flex
	flex-flow row wrap
.m-cardBrief__section
	text-transform uppercase
	font-size 10px
.m-cardBrief__title--isH3
	color black
	font-size 1.5em
.m-cardBrief__title--isH3:hover
	background: -webkit-linear-gradient(left top, #7b4397, #dc2430);
	background: linear-gradient(to bottom right, #7b4397, #dc2430);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent;
	cursor pointer
.m-cardBrief__description
	font-size 15px
	font-family 'Roboto Condensed',sans-serif
.m-cardBrief__time
	font-size 10px
	font-family 'Roboto Condensed',sans-serif
	color gray
	