.m-cardImage
	width 250px
	height 250px
	display flex
	flex-flow row wrap
.m-cardImage__section
	text-transform uppercase
	font-size 10px
.m-cardImage__title--isH3
	font-size 1.17em
	color black
.m-cardImage__title--isH3:hover
	color gray
	cursor pointer
.m-cardImage__time
	font-size 10px
	font-family 'Roboto Condensed',sans-serif
	color gray
	