.m-cardImage
	width 250px
	height 250px
	display flex
	flex-flow row wrap
.m-cardImage__section
	text-transform uppercase
	font-size 10px
.m-cardImage__title:hover
	color gray
	cursor pointer
.m-cardImage__time
	font-size 10px
	font-family 'Roboto Condensed',sans-serif
	color gray
	