.m-cardMall
	width 400px
	height 340px
	display flex
	flex-flow row wrap
	position relative
	box-shadow 1px 1px 5px 1px #92949c
	margin 5px

.m-cardMall__modal--hidden
	display none
.m-cardMall__modal--show
	display block
	
.m-cardMall__modal
	position absolute
	left 0
	top 0
	background white
	width 100%
	height 100%
	z-index 2
	font-family 'Source Sans Pro', sans-serif
.m-cardMall__modal > *
	margin-bottom 5px
	
.m-cardMall__close
	text-align right
	padding-right 12px
	padding-top 12px
.m-cardMall__logoWrapper
	padding-left 20px
	width 100%
	height auto
.m-cardMall__logo
	margin 0
	height 92px
	width 92px

.m-cardMall__direction,
.m-cardMall__thelepone,
.m-cardMall__email
	padding-left 20px
	font-size 12px
	margin 0

.m-cardMall__paragraph
	margin 0
		
.m-cardMall__descriptionWrapper
	padding-left 20px
	padding-top 5px
.m-cardMall__description
	font-size 16px
	margin 0
	
.m-cardMall__detail
	padding-top 10px
	padding-left 30px
	list-style-type initial
	font-size 12px
	margin 0

.m-cardMall__media
	width 100%
	height 251px
	margin 0
		
.m-cardMall__media img
	width 100%
	height 100%

.m-cardMall__brief
	width inherit
	height 20%
	display flex
	flex-flow row wrap
	position relative
	z-index 1
	
.m-cardMall__titleWrapper
	width 82%
	height 22px
	margin-left 20px
	margin-top 10px
	
.m-cardMall__title
	font-size 22px
	font-family 'Source Sans Pro', sans-serif
	font-weight normal
	color #0D1227
	margin 0
	
	
.m-cardMall__reveal
	font-size 22px
	width 10%
	height 22px
	margin-top 10px
.m-cardMall__switchReveal:hover,
.m-cardMall__switchClose:hover
	cursor pointer
	
	
.m-cardMall__anchorWrapper
	width 100%
	margin-left 20px
	
.m-cardMall__anchor
	font-size 12px
	font-family 'Source Sans Pro', sans-serif
	font-weight normal
	color #0D1227
.m-cardMall__anchor:hover
	color #F5A623
	cursor pointer