@import '../../atoms/image/image.styl'

.m-cardOffer__container
	display flex
	flex-flow row wrap
.m-cardOffer__container--portraitBig
	height 705px	
	width 433px
.m-cardOffer__container--portraitSmall
	height 495px	
	width 386px

.m-cardOffer__container--landscapeBig
	height 1064px	
	width 800px
.m-cardOffer__container--landscapeSmall
	height 467px	
	width 751px

.m-cardOffer__media
	height 100%
	margin 0
	padding 0
	width 100%
	