.m-cardText
	width 250px
	height 250px
	border 1px solid #bd919b
	display flex
	flex-flow row wrap
	justify-content center
	align-items center
.m-cardText__item
	text-align center
	width 100%
	height 25%
	font-size 2.5em
	display flex
	flex-flow row wrap
	justify-content center
	align-items center