.m-cardText
	width 250px
	height 250px
	border 1px solid #bd919b
.m-cardText__item
	// color #bd919b
	text-align center
	width 100%
	height 25%
	margin-top 45%
	font-size 2.5em
	background: -webkit-linear-gradient(left top, #7b4397, #dc2430);
	background: linear-gradient(to bottom right, #7b4397, #dc2430);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent;