div(class="m-cardBrief" id="m-cardBrief")
	p(class="m-cardBrief__section")
		| Politics
	h3(class="m-cardBrief__title")
		a 
			| Trump Predicts Stock Market Crash If He’s Impeached

	p(class="m-cardBrief__description")
		| Donald Trump says the stock market would plummet and Americans would be poorer if lawmakers impeached him.
	time(class="m-cardBrief__time")
		| updated 37 minutes ago

