div(class="m-cardImage" id="m-cardImage")
	figure(class="m-cardImage__media")
		img(src="../images/magazinePicture.png")
	p(class="m-cardImage__section")
		| Politics
	h3(class="m-cardImage__title")
		a 
			| Trump Predicts Stock Market Crash If He’s Impeached
	time(class="m-cardImage__time")
		| updated 37 minutes ago