section(class=dataMolecule.el+"__container "+dataMolecule.el+"__container--"+dataMolecule.modifier id=dataMolecule.el+"__container")
	div(class=dataMolecule.el+"__media")
		- 
			var dataAtom = { 
				img : dataMolecule.img, 
				title : "ella", 
				modifier : dataMolecule.modifier, 
				descriptionLeft : "hasta", 
				descriptionRight : "de descuento", 
				discount: "15%", 
				description : ""};
		include ../../atoms/images/image