@import '../molecules/mosaic/simple'
.color__blue
    backgroundColor(colors.blue)
.color__purple
    backgroundColor(colors.purple)
.color__orange
    backgroundColor(colors.orange)
.color__white
    backgroundColor(colors.white)
.color__pink
    backgroundColor(colors.pink)
.color__lvp_negro
    backgroundColor(colors.lvp_negro)
.color__lvp_gris1
    backgroundColor(colors.lvp_gris1)
.color__lvp_gris2
    backgroundColor(colors.lvp_gris2)
.color__lvp_gris3
    backgroundColor(colors.lvp_gris3)
.color__lvp_gris4
    backgroundColor(colors.lvp_gris4)
.color__lvp_gris5
    backgroundColor(colors.lvp_gris5)
.color__lvp_gris6
    backgroundColor(colors.lvp_gris6)
.color__lvp_gris7
    backgroundColor(colors.lvp_gris7)
.color__lvp_gris8
    backgroundColor(colors.lvp_gris8)
.color__lvp_gris9
    backgroundColor(colors.lvp_gris9)
.color__lvp_azul
    backgroundColor(colors.lvp_azul)
.color__lvp_rosa
    backgroundColor(colors.lvp_rosa)
.color__lvp_rojo1
    backgroundColor(colors.lvp_rojo1)
.color__lvp_rojo2
    backgroundColor(colors.lvp_rojo2)
.color__lvp_rojo3
    backgroundColor(colors.lvp_rojo3)
.color__lvp_naranja
    backgroundColor(colors.lvp_naranja)
.color__lvp_amarillo
    backgroundColor(colors.lvp_amarillo)
.color__lvp_piel
    backgroundColor(colors.lvp_piel)
.color__lvp_crema
    backgroundColor(colors.lvp_crema)
.color__lvp_blanco1
    backgroundColor(colors.lvp_blanco1)
.color__lvp_blanco2
    backgroundColor(colors.lvp_blanco2)
.color__lvp_blanco
    backgroundColor(colors.lvp_blanco)
.color__sub_negro
    backgroundColor(colors.sub_negro)
.color__sub_gris1
    backgroundColor(colors.sub_gris1)
.color__sub_gris2
    backgroundColor(colors.sub_gris2)
.color__sub_gris3
    backgroundColor(colors.sub_gris3)
.color__sub_gris4
    backgroundColor(colors.sub_gris4)
.color__sub_gris5
    backgroundColor(colors.sub_gris5)
.color__sub_gris6
    backgroundColor(colors.sub_gris6)
.color__sub_blanco
    backgroundColor(colors.sub_blanco)
.color__sub_morado
    backgroundColor(colors.sub_morado)
.color__sub_lila
    backgroundColor(colors.sub_lila)
.color__sub_azul
    backgroundColor(colors.sub_azul)
.color__sub_verde1
    backgroundColor(colors.sub_verde1)
.color__sub_verde2
    backgroundColor(colors.sub_verde2)
.color__sub_rojo1
    backgroundColor(colors.sub_rojo1)
.color__sub_rojo2
    backgroundColor(colors.sub_rojo2)
.color__sub_rosa
    backgroundColor(colors.sub_rosa)
.color__sub_naranja
    backgroundColor(colors.sub_naranja)

