.a-color
	display flex
	flex-direction row
	justify-content center
.a-color__sample
	width 100px
	height 50px
	margin 5px
	text-align center
	color gray
	border 1px solid gray
	
.a-color__blue
	background: colors.blue;
.a-color__purple
	background: colors.purple;
.a-color__orange
	background: colors.orange;
.a-color__white
	background: colors.white;
