.a-heading1
	font-size 2em
	margin 0
	padding 0
	typeFont(SansPro, normal)
.a-heading2
	font-size 1.5em
	margin 0
	padding 0
	typeFont(SansPro, lighter)
.a-heading3
	font-size 1.17em
	margin 0
	padding 0
	typeFont(SansPro, lighter)
.a-heading4
	font-size 1em
	margin 0
	padding 0
	typeFont(SansPro, lighter)
.a-heading5
	font-size 0.83em
	margin 0
	padding 0
	typeFont(SansPro, lighter)