.a-span--gradient
	text-align inherit
	font-size inherit
	background: -webkit-linear-gradient(left top, #7b4397, #dc2430);
	background: linear-gradient(to bottom right, #7b4397, #dc2430);
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;