div(class="card-image" id="card-image")
	figure(class="card-image-media")
		img(src="../images/magazinePicture.png")
	p(class="card-image-section")
		| Politics
	h3(class="card-image-title")
		a 
			| Trump Predicts Stock Market Crash If He’s Impeached
	time(class="card-image-time")
		| updated 37 minutes ago