div(class="card-video" id="card-video")
	video(class="card-video-media" controls src="https://ak1.picdn.net/shutterstock/videos/8882311/preview/stock-footage--k-few-shots-group-of-paparazzi-photo-shoot-on-green-screen-slow-motion-shot-on-red-epic-cinema.mp4")
	p(class="card-video-section")
		| Politics
	h3(class="card-video-title")
		a 
			| Trump Predicts Stock Market Crash If He’s Impeached
	time(class="card-video-time")
		| updated 37 minutes ago