div(class="card-brief" id="card-brief")
	p(class="card-brief-section")
		| Politics
	h3(class="card-brief-title")
		a 
			| Trump Predicts Stock Market Crash If He’s Impeached

	p(class="card-brief-description")
		| Donald Trump says the stock market would plummet and Americans would be poorer if lawmakers impeached him.
	time(class="card-brief-time")
		| updated 37 minutes ago

