div(class="card-mall" id="card-mall")
	figure(class="card-mall-media")
		img(src="../images/magazinePicture.png")
	div(class="card-mall__brief")
		div(class="card-mall__brief--Title")
			h3
				| Perisur	
		div(class="card-mall__brief--reveal")
			span(class="icon-office")
		div(class="card-mall__brief--anchor")
			a
				| Ir a este centro comercial
	div(class="card-mall__modal")
