div(class="card-coverMagazine" id="card-coverMagazine")
	div(class="card-coverMagazine__wrapper")
		figure(class="card-coverMagazine__wrapper-media")
			img(src="../images/cardMagazine.png")
		h3(class="card-coverMagazine__wrapper-title")
			a 
				| Trump Predicts Stock Market Crash If He’s Impeached
		p(class="card-coverMagazine__wrapper-brief")
			| Musk has long been celebrated by the business press for his work ethic. His extraordinary schedule – a long working day broken into five-minute increments
		
		p(class="card-coverMagazine__wrapper-author")
			| @TBaez
		time(class="card-coverMagazine__wrapper-time")
			| Spring 2017