article(class="carousel-simple" data-mode=mode)
	ul(class="carousel-simple__container" id="carousel-simple__container")
		each v0,i0 in config.lists
			li(class='carousel-simple__container-item') #{v0.txt}
	button(class="carousel-simple__prev" id="carousel-simple__prev")
	button(class="carousel-simple__next" id="carousel-simple__next")