h3(class="main-article__component--device")
    | Responsive
div(class="custom-mosaic-2" id="custom-mosaic")
    each val, index in ['custom2-content-1', 'custom2-content-2', 'custom2-content-3', 'custom2-content-4', 'custom2-content-5', 'custom2-content-6', 'custom2-content-7']
        div(class= val)
            | Contenido