div(class="finder-right-icon" id="finder-right-icon")
    div(class="finder-right-icon__search")
        input(type="text" class="finder-right-icon__text" placeholder="Buscar...")
        button(type="submit" class="finder-right-icon__button")
            i(class="fa fa-search")