div(class="finder-right-icon" id="finder-right-icon")
    div(class="finder-right-icon-search")
        input(type="text" class="finder-right-icon-text" placeholder="Buscar...")
        button(type="submit" class="finder-right-icon-button")
            i(class="fa fa-search")