div(class="header-test")
    div(class="header-container-test")
        div(class="login-section-header")
        div(class="logo-section-header")
        div(class="menu-section-header")
        div(class="finder-left-icon-background hidden-top-search-bar" id="top-search-bar")
            div(class="finder-left-icon-container")
                div(class="finder-left-icon-item-button")
                    i(class="fas fa-search finder-left-icon-button" id="top-search-bar-icon")
                div(class="finder-left-icon-item-text")
                    input(type="text" class="finder-left-icon-text show-top-search-bar" id="top-search-text" placeholder="Busca por centro comercial, tienda o producto")
        