div(class="finder-icon-left-container")
    div(class="finder-icon-left-item")
        button(type="submit" class="finder-icon-left-button")
            i(class="fa fa-search")
    div(class="finder-icon-left-item")
        input(type="text" class="finder-icon-left-text" placeholder="Busca por centro comercial, tienda o ubicación")
        