div(class="finder-animated" id="finder-animated")
    div(class="finder-animated-search-container")
        input(class="finder-animated-text" type="text" placeholder="Buscar...")
        a(class="finder-animated-button")
            i(class="fa fa-search")