div(class="finder-icon-container")
    div(class="finder-icon-search")
        input(type="text" class="finder-icon-text" placeholder="Buscar...")
        button(type="submit" class="finder-icon-button")
            i(class="fa fa-search")