div(class="finder-animated" id="finder-animated")
    div(class="finder-animated__search-container")
        input(class="finder-animated__text" type="text" placeholder="Buscar...")
        a(class="finder-animated__button")
            i(class="fa fa-search")