div(class="finder-left-icon hidden-top-search-bar" id="finder-left-icon")
    div(class="finder-left-icon__container")
        div(class="finder-left-icon__item-button")
            i(class="fas fa-search finder-left-icon__button" id="top-search-bar-icon")
        div(class="finder-left-icon__item-text")
            input(type="text" class="finder-left-icon__text show-top-search-bar" id="top-search-text" placeholder="Busca por centro comercial, tienda o producto")
