h3(class="main-article__component--device")
	| Responsive 
pre
	code
		|&lt;ul class="iconText-list"&gt;
		|	&lt;li class="iconText-list-item"&gt; &lt;span class="icon-office"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Mercury&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-home"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Venus&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-eyedropper"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Earth&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-droplet"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Mars&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-pencil"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Jupiter&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-headphones"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Saturn&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-film"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Uranus&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-dice"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Neptune&lt;/p&gt;
		| &lt;/li&gt;
		| &lt;li class="iconText-list-item"&gt; &lt;span class="icon-library"&gt; &lt;/span&gt;
		| 	&lt;p&gt;Pluto&lt;/p&gt;
		| &lt;/li&gt;
		|&lt;/ul&gt;