ul(class="icon-list" id="icon-list")
	each val, index in ['office', 'home', 'eyedropper', 'droplet', 'pencil', 'headphones', 'film', 'dice', 'library']
		li(class='icon-list-item')
			span(class='icon-'+val)
