h3(class="main-article__component--device")
	| Responsive
pre
	code
		|&lt;ul class="icon-list"&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-office"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-home"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-eyedropper"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-droplet"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-pencil"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-headphones"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-film"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-dice"&gt;&lt;/span&gt;&lt;/li&gt;
		|	&lt;li class="icon-list-item"&gt; &lt;span class="icon-library"&gt;&lt;/span&gt;&lt;/li&gt;
		|&lt;/ul&gt;