h3(class="main-article__component--device")
	| Desktop & Mobile
ul(class="icon-list--desktopMobile")
	each val, index in ['office', 'home', 'eyedropper', 'droplet', 'pencil', 'headphones', 'film', 'dice', 'library']
		li(class='icon-list-item--desktopMobile') 
			span(class='icon-'+val)
