div(class="left-icon-finder-container")
    div(class="left-icon-finder-item-button")
        button(type="submit" class="left-icon-finder-button")
            i(class="fa fa-search")
    div(class="left-icon-finder-item-text")
        input(type="text" class="left-icon-finder-text" placeholder="Busca por centro comercial, tienda o ubicación")
        