div(class="left-icon-finder-background")
    div(class="left-icon-finder-container")
        div(class="left-icon-finder-item-button")
            i(class="fas fa-times left-icon-finder-button")
        div(class="left-icon-finder-item-text")
            input(type="text" class="left-icon-finder-text" placeholder="Busca por centro comercial, tienda o ubicación")
        