if customList.elements
	ul(class="list-container" id="list-container" data-mode=mode)
		- for (var x = 0; x < customList.elements; x++)
			li(class='list-container-item')
				if customList.include == 'card-brief'
					include card-brief
				if customList.include == 'card-mall'
					- var idCard = x
					include card-mall
				if customList.include == 'card-image'
					include card-image
				if customList.include == 'card-text'
					include card-text
				if customList.include == 'card-video'
					include card-video
				if customList.include == 'card-coverMagazine'
					include card-coverMagazine
else
	ul(class="list-container" id="list-container" data-mode=mode)
		each v0,i0 in config.lists
			li(class='list-container-item')
				
