- var ico = ['office', 'home', 'eyedropper', 'droplet', 'pencil', 'headphones', 'film', 'dice', 'library'];
ul(class="list-iconText" id="list-iconText")
	each v0,i0 in config.lists
		li(class='list-iconText-item') 
			span(class='icon-'+ico[i0]) 
			p #{v0.txt}
