if customList
	ul(class="list-simple" id="list-simple" data-mode=mode)
		each v0,i0 in customList
			li(class='list-simple-item')
				a(href="https://planetarynames.wr.usgs.gov/Page/Planets" target='_blank') #{v0}
else
	ul(class="list-simple" id="list-simple" data-mode=mode)
		each v0,i0 in config.lists
			li(class='list-simple-item')
				a(href="https://planetarynames.wr.usgs.gov/Page/Planets" target='_blank') #{v0.txt}
