if customList
	ul(class=action ? 'list-buttonText action' : 'list-buttonText')
		each val, index in customList
			li(class='list-buttonText-item')
				button(class=""+val.cls data-mode=mode) #{val.txt}
else
	ul(class="list-buttonText" id="list-buttonText")
		each v0,i0 in config.lists
			li(class='list-buttonText-item')
				button #{v0.txt}