if customList
	ul(class="list-buttonText action")
		each val, index in customList
			li(class='list-buttonText-item')
				button(class=""+val.cls) #{val.txt}

else
	if customList
		ul(class="list-buttonText" id="list-buttonText")
			each v0,i0 in customList
				li(class='list-buttonText-item')
					button #{v0}
	else
		ul(class="list-buttonText" id="list-buttonText")
			each v0,i0 in config.lists
				li(class='list-buttonText-item')
					button #{v0.txt}