ul(class="list-icon" id="list-icon")
	each val, index in ['office', 'home', 'eyedropper', 'droplet', 'pencil', 'headphones', 'film', 'dice', 'library']
		li(class='list-icon-item')
			span(class='icon-'+val)
