h3(class="main-article__component--device")
    | Responsive
div(class="mosaic-adaptative" id="mosaic-adaptative")
    each val, index in ['mosaic-adaptative__item-1', 'mosaic-adaptative__item-2', 'mosaic-adaptative__item-3', 'mosaic-adaptative__item-4', 'mosaic-adaptative__item-5', 'mosaic-adaptative__item-6', 'mosaic-adaptative__item-7']
        div(class= val)
            | Contenido