h3(class="main-article__component--device")
    | Responsive
div(class="mosaic-adaptative" id="mosaic-adaptative")
    each val, index in ['mosaic-adaptative-content-1', 'mosaic-adaptative-content-2', 'mosaic-adaptative-content-3', 'mosaic-adaptative-content-4', 'mosaic-adaptative-content-5', 'mosaic-adaptative-content-6', 'mosaic-adaptative-content-7']
        div(class= val)
            | Contenido