h3(class="main-article__component--device")
    | Full Responsive
div(class="mosaic-full-responsive" id="mosaic-full-responsive")
    each val, index in ['mosaic-full-responsive-content-1', 'mosaic-full-responsive-content-2', 'mosaic-full-responsive-content-3', 'mosaic-full-responsive-content-4', 'mosaic-full-responsive-content-5', 'mosaic-full-responsive-content-6', 'mosaic-full-responsive-content-7']
        div(class= val)
            | Contenido