div(class="org-header" id="org-header")
    div(class="org-header__login-bar")
        div(class="org-header__login-bar__buttons")
            - var customList = ['ACCEDER','REGÍSTRATE']
            - var menu= false
            include list-buttonText

    div(class="org-header__menu-bar")
        div(class="org-header__menu-bar__logo")
        
        div(class="org-header__menu-bar__links")
            
            - var customList =  ['Centros Comerciales','Tiendas','Eventos','Promociones','Galerías Club','Galerías Magazine','Galerias TV']
            - var menu = false
            - var navBar = true 
            include list-simple

    div(class="org-header__search-bar") 
        include finder-left-icon 

