div(class="org-header" id="org-header")
    div(class="org-header__login-bar")
        div(class="org-header__login-bar__buttons")
            ul(class="some")
    div(class="org-header__menu-bar")
        div(class="org-header__menu-bar__logo")
        div(class="org-header__menu-bar__links")
            ul(class="list-simple" id="list-simple" data-mode="list-simple__list-pipe")
                each val, index in ['Centros Comerciales','Tiendas','Eventos','Promociones','Galerías Club','Galerías Magazine','Galerias TV']
                    li(class='list-simple-item')                  
                        | #{val}
    div(class="org-header__search-bar")
        include finder-left-icon

