div(class="org-header" id="org-header")
    div(class="org-header__login-bar")
        div(class="org-header__login-bar__buttons")
            - var action = false;
            - var customList = [{"txt" : "ACCEDER", "cls" : "list-buttonText"},{"txt" : "REGÍSTRATE", "cls" : "list-buttonText"}];
            - var menu = false
            include list-buttonText

    div(class="org-header__menu-bar")
        div(class="org-header__menu-bar__logo")
            img(src="https://www.galerias.com/img/270317_MX.png")            
        
        div(class="org-header__menu-bar__links")
            - var action = false;            
            - var customList =  ['Centros Comerciales','Tiendas','Eventos','Promociones','Galerías Club','Galerías Magazine','Galerias TV']
            - var menu = false
            - var mode = "list-simple__list-pipe"
            include list-simple
        
        div(class="org-header__menu-bar__searchIcon")
           span(class="material-icons searchIcon" id="btn-search")
                | search

    div(class="org-header__search-bar hidden-top-search-bar" id="top-search-bar") 
        include finder-left-icon 

