h3(class="main-article__component--device")
	| Responsive 
pre
	code
		|&lt;ul class="simple-list"&gt;
		|	&lt;li class="simple-list-item"&gt;Mercury&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Venus&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Earth&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Mars&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Jupiter&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Saturn&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Uranus&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Neptune&lt;/li&gt;
		|	&lt;li class="simple-list-item"&gt;Pluto&lt;/li&gt;
		|&lt;/ul&gt;