h3(class="main-article__component--device")
	| Desktop
pre
	code
		|&lt;ul class="simple-list--desktop"&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Mercury&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Venus&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Earth&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Mars&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Jupiter&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Saturn&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Uranus&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Neptune&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Pluto&lt;/li&gt;
		|&lt;/ul&gt;

h3(class="main-article__component--device")
	| Mobile
pre
	code
		|&lt;ul class="simple-list--mobile"&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Mercury&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Venus&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Earth&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Mars&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Jupiter&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Saturn&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Uranus&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Neptune&lt;/li&gt;
		|	&lt;li class="simple-list-item--desktop"&gt;Pluto&lt;/li&gt;
		|&lt;/ul&gt;