h3(class="main-article__component--device")
	| Responsive
ul(class="simple-list")
	each v0,i0 in config.lists
		li(class='simple-list-item') #{v0.txt}

//- h3(class="main-article__component--device")
//- 	| Mobile
//- ul(class="simple-list--mobile")
//- 	each v0,i0 in config.lists
//- 		li(class='simple-list-item--mobile') #{v0.txt}