h3(class="main-article__component--device")
    | Responsive
div(class="empty-mosaic" id="empty-mosaic")
    each val, index in ['mosaic-item','mosaic-item','mosaic-item','mosaic-item','mosaic-item','mosaic-item']
        div(class=val)
            | Contenido