div(class='variants-section')
	ul(class="variants-section__modes")
		each val,index in variants
			if mode == cmp+'__'+val
				li
					input(type='radio' name='Variant' checked='checked' id=''+cmp+'__'+val)
					label(for=''+cmp+'__'+val class='variantComponent') #{val}
			else
				li
					input(type='radio' name='Variant' checked='false' id=''+cmp+'__'+val)
					label(for=''+cmp+'__'+val class='variantComponent') #{val}

