@import '../colors'
@import '../components/simple-mosaic.styl'
@import '../components/custom-mosaic.styl'
@import '../components/custom-mosaic-2.styl'
@import '../components/buttonText-list.styl'


.getStyle, .getHTML
	width auto
	padding 10px
	margin-right 20px
	color white
	border 0
	font-weight bold
.getStyle
	background #3434b9
.getHTML
	background #f95204
.getStyle:hover, .getHTML:hover
	cursor pointer
	
.showAllCssRules, .showAllHtmlRules
	width auto
	height auto
	padding 20px
	color white
	background #212124

.hiddeCssRule, .hiddeHtmlRule
	display none
.showCssRule, .showHtmlRule
	display block
	

icon-office(before)
icon-eyedropper(before)
icon-droplet(before)
icon-pencil(before)
icon-headphones(before)
icon-film(before)
icon-dice(before)
icon-library(before)