@import '../components/simple-list.styl'
@import '../components/icon-list.styl'

// .main-article__component--view
// 	resize both

icon-office(before)
icon-eyedropper(before)
icon-droplet(before)
icon-pencil(before)
icon-headphones(before)
icon-film(before)
icon-dice(before)
icon-library(before)