@import '../colors'
@import '../components/simple-list.styl'
@import '../components/icon-list.styl'
@import '../components/iconText-list.styl'
@import '../components/buttonText-list.styl'

// .main-article__component--view
// 	resize both

.getStyle
	width 80px
	padding 10px
	background #3434b9
	color white
	border 0
	font-weight bold
.getStyle:hover
	cursor pointer
	
.showAllCssRules
	width auto
	height auto
	padding 20px
	background #212124
	color white
	
.hiddeCssRule
	display none
.showCssRule
	display block
	

icon-office(before)
icon-eyedropper(before)
icon-droplet(before)
icon-pencil(before)
icon-headphones(before)
icon-film(before)
icon-dice(before)
icon-library(before)