@import '../styleConfiguration'
*
	mx-reduce()
	box-sizing border-box

body
	mx-width(100%)
	// background black

.mainContainer
	width 100%
	max-width 1600px
	margin auto
	//  FLEX
	display flex
	flex-flow row wrap

.blockContainer
	width 80%
	background white
	margin auto
	// FLEX
	display flex
	justify-content space-between
	align-items center
	flex-flow row wrap

.blockFull
	width 100%