<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user=scalable=no, initial-scale-1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>UX Design</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono" type="text/css"/>
    <link rel="stylesheet" href="../css/guide.css" type="text/css"/>
    <link rel="stylesheet" href="../css/aColors.css" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Source+Sans+Pro:300,400,700" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"/>
    <script src="../js/bundle-handlerComponent.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" type="text/javascript"></script>
  </head>
  <body>
    <section class="header">
      <section class="projectName"><a href="/"><span class="icon-home"></span><span>	UX Design</span></a></section>
      <section class="breadcrums">
        <p class="breadcrums-title">Atoms > Colors</p>
      </section>
      <section class="mainMenu"></section>
    </section>
    <section class="body">
      <nav class="side-nav"><span class="side-nav__section-title">	Atoms</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aFont.html" target="_self">Fonts</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aColor.html" target="_self">Colors</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aButton.html" target="_self">Button</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aRadioButton.html" target="_self">Radio</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aImage.html" target="_self">Image</a></li>
        </ul><span class="side-nav__section-title">	Molecules</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mList.html" target="_self">Lists</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mMosaic.html" target="_self">Mosaic</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mCard.html" target="_self">Card</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mFinder.html" target="_self">Finder</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mCarousel.html" target="_self">Carousel</a></li>
        </ul><span class="side-nav__section-title">	Organisms</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oMalls.html" target="_self">Malls</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oPromotions.html" target="_self">Promotions</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oHeader.html" target="_self">Header</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oCardBottomGradient.html" target="_self">Card bottom gradient</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oFooter.html" target="_self">Footer</a></li>
        </ul>
      </nav>
      <section class="main">
        <article class="main-article">
          <h1 class="main-article__title">Colors</h1>
          <nav class="main-article__btnCodes">
            <button class="getStyle all" id="allCssList">Show CSS</button>
            <button class="getHTML all" id="allHtmlList">Show HTML</button>
          </nav>
          <div class="showAllCssRules hiddeCssRule" id="showAllCssRules"></div>
          <div class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules"></div>
          <p class="main-article__description">Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.</p>
          <div class="main-article__component">
            <div class="main-article__component--view">
              <h2 class="main-article__component--title">Colors</h2>
              <!-- - var action = true;-->
              <!-- - var customList = [{"txt" : "styles", "cls" : "m-listSimple btnCss"},{"txt" : "html", "cls" : "m-listSimple btnHtml"}];-->
              <!-- include ../molecules/list/buttonText-->
              <!-- h3(class="main-article__component--device")// | Responsive
              -->
              <!-- - var el = "m-listSimple"-->
              <!-- - var modifiers = ['bold', 'light', 'normal'];-->
              <!-- - var modifier = el+'--'+modifiers[1]-->
              <!-- include ../resources/modifiers-->
              <!-- - var customList = false;-->
              <h2 class="main-article__component--title">galerias</h2>
              <ul class="a-color">
                <div class="m-mosaicSimple" id="m-mosaicSimple">
                  <li class="a-color__sample color__blue">#111735<br/>.color__blue</li>
                  <li class="a-color__sample color__purple">#333163<br/>.color__purple</li>
                  <li class="a-color__sample color__orange">#F5891F<br/>.color__orange</li>
                  <li class="a-color__sample color__white">#FFFFFF<br/>.color__white</li>
                  <li class="a-color__sample color__pink">#e40096<br/>.color__pink</li>
                </div>
              </ul>
              <h2 class="main-article__component--title">liverpool</h2>
              <ul class="a-color">
                <div class="m-mosaicSimple" id="m-mosaicSimple">
                  <li class="a-color__sample color__lvp_negro">#000<br/>.color__lvp_negro</li>
                  <li class="a-color__sample color__lvp_gris1">#383838<br/>.color__lvp_gris1</li>
                  <li class="a-color__sample color__lvp_gris2">#3b3b3e<br/>.color__lvp_gris2</li>
                  <li class="a-color__sample color__lvp_gris3">#474546<br/>.color__lvp_gris3</li>
                  <li class="a-color__sample color__lvp_gris4">#4a4a4a<br/>.color__lvp_gris4</li>
                  <li class="a-color__sample color__lvp_gris5">#808080<br/>.color__lvp_gris5</li>
                  <li class="a-color__sample color__lvp_gris6">#888888<br/>.color__lvp_gris6</li>
                  <li class="a-color__sample color__lvp_gris7">#8d8d8d<br/>.color__lvp_gris7</li>
                  <li class="a-color__sample color__lvp_gris8">#a2a2a2<br/>.color__lvp_gris8</li>
                  <li class="a-color__sample color__lvp_gris9">#d0d0d0<br/>.color__lvp_gris9</li>
                  <li class="a-color__sample color__lvp_azul">#009cff<br/>.color__lvp_azul</li>
                  <li class="a-color__sample color__lvp_rosa">#e10098<br/>.color__lvp_rosa</li>
                  <li class="a-color__sample color__lvp_rojo1">#d0011b<br/>.color__lvp_rojo1</li>
                  <li class="a-color__sample color__lvp_rojo2">#D80A14<br/>.color__lvp_rojo2</li>
                  <li class="a-color__sample color__lvp_rojo3">#ff0000<br/>.color__lvp_rojo3</li>
                  <li class="a-color__sample color__lvp_naranja">#ff9000<br/>.color__lvp_naranja</li>
                  <li class="a-color__sample color__lvp_amarillo">#f4b806<br/>.color__lvp_amarillo</li>
                  <li class="a-color__sample color__lvp_piel">#ffba91<br/>.color__lvp_piel</li>
                  <li class="a-color__sample color__lvp_crema">#feffe1<br/>.color__lvp_crema</li>
                  <li class="a-color__sample color__lvp_blanco1">#f5f5f5<br/>.color__lvp_blanco1</li>
                  <li class="a-color__sample color__lvp_blanco2">#f8f8f8<br/>.color__lvp_blanco2</li>
                  <li class="a-color__sample color__lvp_blanco">#ffffff<br/>.color__lvp_blanco</li>
                </div>
              </ul>
              <h2 class="main-article__component--title">suburbia</h2>
              <ul class="a-color">
                <div class="m-mosaicSimple" id="m-mosaicSimple">
                  <li class="a-color__sample color__sub_negro">#000<br/>.color__sub_negro</li>
                  <li class="a-color__sample color__sub_gris1">#464646<br/>.color__sub_gris1</li>
                  <li class="a-color__sample color__sub_gris2">#555555<br/>.color__sub_gris2</li>
                  <li class="a-color__sample color__sub_gris3">#a2a2a2<br/>.color__sub_gris3</li>
                  <li class="a-color__sample color__sub_gris4">#aaaaaa<br/>.color__sub_gris4</li>
                  <li class="a-color__sample color__sub_gris5">#ccc<br/>.color__sub_gris5</li>
                  <li class="a-color__sample color__sub_gris6">#f5f5f5<br/>.color__sub_gris6</li>
                  <li class="a-color__sample color__sub_blanco">#FFF<br/>.color__sub_blanco</li>
                  <li class="a-color__sample color__sub_morado">#692c90<br/>.color__sub_morado</li>
                  <li class="a-color__sample color__sub_lila">#863275<br/>.color__sub_lila</li>
                  <li class="a-color__sample color__sub_azul">#00a7ce<br/>.color__sub_azul</li>
                  <li class="a-color__sample color__sub_verde1">#0abd3e<br/>.color__sub_verde1</li>
                  <li class="a-color__sample color__sub_verde2">#95d600<br/>.color__sub_verde2</li>
                  <li class="a-color__sample color__sub_rojo1">#d0011b<br/>.color__sub_rojo1</li>
                  <li class="a-color__sample color__sub_rojo2">#d0011b<br/>.color__sub_rojo2</li>
                  <li class="a-color__sample color__sub_rosa">#e54197<br/>.color__sub_rosa</li>
                  <li class="a-color__sample color__sub_naranja">#ff6c0c<br/>.color__sub_naranja</li>
                </div>
              </ul>
            </div>
            <!-- div(class="main-article__component--code")
            // - var codeComponent = 'code-m-listSimple';
            // include ../resources/code
            -->
          </div>
        </article>
      </section>
    </section>
  </body>
</html>