<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user=scalable=no, initial-scale-1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>UX Design</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono" type="text/css"/>
    <link rel="stylesheet" href="../css/guide.css" type="text/css"/>
    <link rel="stylesheet" href="../css/aForms.css" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Source+Sans+Pro:300,400,700" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"/>
    <script src="../js/bundle-handlerComponent.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" type="text/javascript"></script>
  </head>
  <body>
    <section class="header">
      <section class="projectName"><a href="/"><span class="icon-home"></span><span>	UX Design</span></a></section>
      <section class="breadcrums">
        <p class="breadcrums-title">Atoms > Forms</p>
      </section>
      <section class="mainMenu"></section>
    </section>
    <section class="body">
      <nav class="side-nav"><span class="side-nav__section-title">	Atoms</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aFont.html" target="_self">Fonts</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aColor.html" target="_self">Colors</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aButton.html" target="_self">Button</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aRadioButton.html" target="_self">Radio</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aImage.html" target="_self">Image</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aText.html" target="_self">Text</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="aForm.html" target="_self">Forms</a></li>
        </ul><span class="side-nav__section-title">	Molecules</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mList.html" target="_self">Lists</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mMosaic.html" target="_self">Mosaic</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mCard.html" target="_self">Card</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mFinder.html" target="_self">Finder</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="mCarousel.html" target="_self">Carousel</a></li>
        </ul><span class="side-nav__section-title">	Organisms</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oMalls.html" target="_self">Malls</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oPromotions.html" target="_self">Promotions</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oHeader.html" target="_self">Header</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oCardBottomGradient.html" target="_self">Card bottom gradient</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="oFooter.html" target="_self">Footer</a></li>
        </ul>
      </nav>
      <section class="main">
        <article class="main-article">
          <h1 class="main-article__title">Forms</h1>
          <nav class="main-article__btnCodes">
            <button class="getStyle all" id="allCssList">Show CSS</button>
            <button class="getHTML all" id="allHtmlList">Show HTML</button>
          </nav>
          <div class="showAllCssRules hiddeCssRule" id="showAllCssRules"></div>
          <div class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules"></div>
          <p class="main-article__description">Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.</p>
          <div class="main-article__component">
            <div class="main-article__component--view">
              <h2 class="main-article__component--title">Forms</h2>
              <p>Input Text</p>
              <input class="a-inputText" type="text" id="a-inputText" name="a-inputText" placeholder="Text input"/>
              <p>Submit</p>
              <input class="a-inputSubmit" type="submit" id="a-inputSubmit" value="Submit"/>
              <p>Reset</p>
              <input class="a-inputReset" type="reset" id="a-inputReset" value="Clear"/>
              <p>Button</p>
              <input class="a-inputButton" type="button" id="a-inputButton" value="Click Me!"/>
              <p>Color</p>
              <input class="a-inputColor" type="color" id="a-inputColor" name="a-inputColor"/>
              <p>Date</p>
              <input class="a-inputDate" type="date" id="a-inputDate" name="a-inputDate"/>
              <p>File</p>
              <input class="a-inputFile" type="file" id="a-inputFile" name="a-inputFile"/>
              <p>Textarea</p>
              <textarea class="a-inputTextarea" id="a-inputTextarea" name="a-inputTextarea"></textarea>
              <p>Radio</p>
              <input class="a-radioButton" type="radio" id="radioComponentChk" name="radioComponentChk" value="checked" checked="checked"/>
              <label class="a-labelRadio" for="radioComponentChk">checked</label>
              <input class="a-radioButton" type="radio" id="radioComponent" name="radioComponent" value="unchecked"/>
              <label class="a-labelRadio" for="radioComponent">unchecked</label>
              <p>Select</p>
              <select class="a-inputSelect" id="a-inputSelect">
                <optgroup label="options">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                </optgroup>
              </select>
            </div>
          </div>
        </article>
      </section>
    </section>
  </body>
</html>