<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user=scalable=no, initial-scale-1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>UX Design</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono" type="text/css"/>
    <link rel="stylesheet" href="../css/guide.css" type="text/css"/>
    <link rel="stylesheet" href="../css/componentList.css" type="text/css"/>
    <script src="../js/bundle-index.js" type="text/javascript"></script>
    <script src="../js/bundle-componentList.js" type="text/javascript"></script>
  </head>
  <body>
    <section class="header">
      <section class="projectName"><a href="/"><span class="icon-home"></span><span>	UX Design</span></a></section>
      <section class="breadcrums">
        <p class="breadcrums-title">Components > List</p>
      </section>
      <section class="mainMenu"></section>
    </section>
    <section class="body">
      <nav class="side-nav"><span class="side-nav__section-title">	Material Organisms</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="#" target="_self">Grid Malls</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Widget TV</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Widget Magazine</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Grid Brands</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Social Carousel</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Grid Carousel</a></li>
        </ul><span class="side-nav__section-title">	Material Components</span>
        <ul class="side-nav__menu side-nav__menu--sections">
          <li class="side-nav__menu-item"><a class="side-nav__link" href="componentList.html" target="_self">Lists</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Card</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Filter</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Survey</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Mosaic</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Finder</a></li>
          <li class="side-nav__menu-item"><a class="side-nav__link" href="/tienda/utensilios/cat_307_1001" target="_self">Carousel</a></li>
        </ul>
      </nav>
      <section class="main">
        <article class="main-article">
          <h1 class="main-article__title">Lists</h1>
          <nav class="main-article__btnCodes">
            <button class="getStyle all" id="allCssList">Show CSS</button>
            <button class="getHTML all" id="allHtmlList">Show HTML</button>
          </nav>
          <div class="showAllCssRules hiddeCssRule" id="showAllCssRules"></div>
          <div class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules"></div>
          <p class="main-article__description">Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.</p>
          <!-- ---------------------------------------------------------->
          <div class="main-article__component">
            <div class="main-article__component--view">
              <h2 class="main-article__component--title">Simple-list</h2>
              <ul class="buttonText-list action">
                <li class="buttonText-list-item">
                  <button class="simple-list btnCss">styles</button>
                </li>
                <li class="buttonText-list-item">
                  <button class="simple-list btnHtml">html</button>
                </li>
              </ul>
              <h3 class="main-article__component--device">Responsive</h3>
              <ul class="simple-list" id="simple-list">
                <li class="simple-list-item">Mercury</li>
                <li class="simple-list-item">Venus</li>
                <li class="simple-list-item">Earth</li>
                <li class="simple-list-item">Mars</li>
                <li class="simple-list-item">Jupiter</li>
                <li class="simple-list-item">Saturn</li>
                <li class="simple-list-item">Uranus</li>
                <li class="simple-list-item">Neptune</li>
                <li class="simple-list-item">Pluto</li>
              </ul>
            </div>
            <div class="main-article__component--code">
              <h2 class="main-article__component--title">Simple-list-code</h2>
              <h3 class="main-article__component--device">Responsive </h3>
              <pre><code id="code-simple-list"></code></pre>
            </div>
          </div>
          <!-- ---------------------------------------------------------->
          <div class="main-article__component">
            <div class="main-article__component--view">
              <h2 class="main-article__component--title">Icon-list</h2>
              <ul class="buttonText-list action">
                <li class="buttonText-list-item">
                  <button class="icon-list btnCss">styles</button>
                </li>
                <li class="buttonText-list-item">
                  <button class="icon-list btnHtml">html</button>
                </li>
              </ul>
              <h3 class="main-article__component--device">Responsive</h3>
              <ul class="icon-list" id="icon-list">
                <li class="icon-list-item"><span class="icon-office"></span></li>
                <li class="icon-list-item"><span class="icon-home"></span></li>
                <li class="icon-list-item"><span class="icon-eyedropper"></span></li>
                <li class="icon-list-item"><span class="icon-droplet"></span></li>
                <li class="icon-list-item"><span class="icon-pencil"></span></li>
                <li class="icon-list-item"><span class="icon-headphones"></span></li>
                <li class="icon-list-item"><span class="icon-film"></span></li>
                <li class="icon-list-item"><span class="icon-dice"></span></li>
                <li class="icon-list-item"><span class="icon-library"></span></li>
              </ul>
            </div>
            <div class="main-article__component--code">
              <h2 class="main-article__component--title">Icon-list-code</h2>
              <h3 class="main-article__component--device">Responsive </h3>
              <pre><code id="code-icon-list"></code></pre>
            </div>
          </div>
          <!-- ---------------------------------------------------------->
          <div class="main-article__component">
            <div class="main-article__component--view">
              <h2 class="main-article__component--title">IconText-list</h2>
              <ul class="buttonText-list action">
                <li class="buttonText-list-item">
                  <button class="iconText-list btnCss">styles</button>
                </li>
                <li class="buttonText-list-item">
                  <button class="iconText-list btnHtml">html</button>
                </li>
              </ul>
              <h3 class="main-article__component--device">Responsive</h3>
              <ul class="iconText-list" id="iconText-list">
                <li class="iconText-list-item"> <span class="icon-office"> </span>
                  <p>Mercury</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-home"> </span>
                  <p>Venus</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-eyedropper"> </span>
                  <p>Earth</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-droplet"> </span>
                  <p>Mars</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-pencil"> </span>
                  <p>Jupiter</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-headphones"> </span>
                  <p>Saturn</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-film"> </span>
                  <p>Uranus</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-dice"> </span>
                  <p>Neptune</p>
                </li>
                <li class="iconText-list-item"> <span class="icon-library"> </span>
                  <p>Pluto</p>
                </li>
              </ul>
            </div>
            <div class="main-article__component--code">
              <h2 class="main-article__component--title">IconText-list-code</h2>
              <h3 class="main-article__component--device">Responsive </h3>
              <pre><code id="code-iconText-list"></code></pre>
            </div>
          </div>
          <!-- ---------------------------------------------------------->
          <div class="main-article__component">
            <div class="main-article__component--view">
              <h2 class="main-article__component--title">ButtonText-list</h2>
              <ul class="buttonText-list action">
                <li class="buttonText-list-item">
                  <button class="buttonText-list btnCss">styles</button>
                </li>
                <li class="buttonText-list-item">
                  <button class="buttonText-list btnHtml">html</button>
                </li>
              </ul>
              <h3 class="main-article__component--device">Responsive</h3>
              <ul class="buttonText-list" id="buttonText-list">
                <li class="buttonText-list-item">
                  <button>Mercury</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Venus</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Earth</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Mars</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Jupiter</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Saturn</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Uranus</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Neptune</button>
                </li>
                <li class="buttonText-list-item">
                  <button>Pluto</button>
                </li>
              </ul>
            </div>
            <div class="main-article__component--code">
              <h2 class="main-article__component--title">ButtonText-list-code</h2>
              <h3 class="main-article__component--device">Responsive </h3>
              <pre><code id="code-buttonText-list"></code></pre>
            </div>
          </div>
        </article>
      </section>
    </section>
  </body>
</html>