<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user=scalable=no, initial-scale-1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Williams - sonoma</title>
    <link rel="stylesheet" href="../css/responsiveMenu.css" type="text/css"/>
    <script src="../js/bundle-index.js" type="text/javascript"></script>
  </head>
  <body>
    <section class="mainContainer">
      <!-- include ../components/head-->
    </section>
  </body>
</html>