button(class="a-floatingButton a-floatingButton--extended")
	span(class="a-floatingButton__text")
	| #{txt}
p .a-floatingButton .a-floatingButton--extended

button(class="a-floatingButton a-floatingButton--extendedLeftIcon")
	span(class="material-icons a-floatingButton__icon") add
	span(class="a-floatingButton__text")
	| #{txt}
p .a-floatingButton .a-floatingButton--extendedLeftIcon

button(class="a-floatingButton a-floatingButton--extendedRightIcon")
	span(class="a-floatingButton__text")
	| #{txt}
	span(class="material-icons a-floatingButton__icon") add
p .a-floatingButton .a-floatingButton--extendedRightIcon

button(class="a-floatingButton a-floatingButton--icon")
	span(class="material-icons a-floatingButton__icon") add
p .a-floatingButton .a-floatingButton--icon

button(class="a-floatingButton a-floatingButton--iconMini")
	span(class="material-icons a-floatingButton__icon") add
p .a-floatingButton .a-floatingButton--iconMini

button(class="a-floatingButton a-floatingButton--shaped")
	span(class="material-icons a-floatingButton__icon") add
p .a-floatingButton .a-floatingButton--shaped


p(class="shortText") Lorem simpson es aquel amigo que toma colores como el amigo de la clase de enfrente Lorem simpson es aquel amigo que toma colores como el amigo de la clase de enfrente