div(class="finder-left-icon" id="finder-left-icon")
	div(class="finder-left-icon__container")
		div(class="finder-left-icon__item-button")
			span(class="material-icons finder-left-icon__button" id="top-search-bar-icon")
				| search
		div(class="finder-left-icon__item-text")
			input(type="text" class="finder-left-icon__text show-top-search-bar" id="top-search-text" placeholder="Busca por centro comercial, tienda o producto")