- 
	var config = { 
		"siteName":"UX Design",
		"prefix":"",
		"urlLoader":"",
		"logoSite":"",
		"headersCss":[
			{"page"	:	"all", "media"	:	"all",	"src"	:	"https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono", "rel":"stylesheet", "type":"text/css"},
			
			{"page"	:	"all", "media"	:	"all",	"src"	:	"../css/guide.css", "rel":"stylesheet", "type":"text/css"},
			
			{"page"	:	"aFont", "media"	:	"all",	"src"	:	"../css/aFonts.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"aColor", "media"	:	"all",	"src"	:	"../css/aColors.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"aButton", "media"	:	"all",	"src"	:	"../css/aButtons.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"aRadioButton", "media"	:	"all",	"src"	:	"../css/aRadioButtons.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"aImage", "media"	:	"all",	"src"	:	"../css/aImages.css", "rel":"stylesheet", "type":"text/css"},
		

			{"page"	:	"mList", "media"	:	"all",	"src"	:	"../css/mList.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"mCard", "media"	:	"all",	"src"	:	"../css/mCard.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"mMosaic", "media"	:	"all",	"src"	:	"../css/mMosaic.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"mFinder", "media"	:	"all",	"src"	:	"../css/mFinder.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"mCarousel", "media"	:	"all",	"src"	:	"../css/mCarousel.css", "rel":"stylesheet", "type":"text/css"},

			{"page"	:	"oHeader", "media"	:	"all",	"src"	:	"../css/oHeader.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"oCard-bottom-gradient", "media"	:	"all",	"src"	:	"../css/oCardBottomGradient.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"oMalls", "media"	:	"all",	"src"	:	"../css/oMalls.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"oPromotions", "media"	:	"all",	"src"	:	"../css/oPromotions.css", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"oFooter", "media"	:	"all",	"src"	:	"../css/orFooter.css", "rel":"stylesheet", "type":"text/css"},

			{"page"	:	"all", "media"	:	"all",	"src"	:	"https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Source+Sans+Pro:300,400,700", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"all", "media"	:	"all",	"src"	:	"https://fonts.googleapis.com/icon?family=Material+Icons", "rel":"stylesheet", "type":"text/css"}
		],
		"headersJs":[
			{"page":"all","src":"../js/bundle-handlerComponent.js"},
			{"page":"mCard","src":"../js/bundle-handlerCards.js"},
			{"page":"mList","src":"../js/bundle-handlerCards.js"},
			{"page":"mFinder","src":"../js/bundle-handlerFinder.js"},
			{"page":"mCarousel","src":"../js/bundle-handlerCarousel.js"},
			{"page":"oHeader","src":"../js/bundle-handlerFinder.js"},
			{"page":"oMalls","src":"../js/bundle-handlerCards.js"},
			{"page":"oPromotions","src":"../js/bundle-handlerCards.js"},
			{"page":"all","src":"https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"}

		],
		"atoms":[
			{
				"name":"Fonts",
				"src":"aFont.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Colors",
				"src":"aColor.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Button",
				"src":"aButton.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Radio",
				"src":"aRadioButton.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Image",
				"src":"aImage.html", 
				"target":"_self", 
				"active":false
			}
		],
		"molecules":[
			{
				"name":"Lists",
				"src":"mList.html", 
				"target":"_self", 
				"active":false 
			},
			{
				"name":"Mosaic",
				"src":"mMosaic.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Card",
				"src":"mCard.html", 
				"target":"_self", 
				"active":false
			},		
			{
				"name":"Finder",
				"src":"mFinder.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Carousel",
				"src":"mCarousel.html", 
				"target":"_self", 
				"active":false
			}
		],
		"organisms":[
			{
				"name":"Malls",
				"src":"oMalls.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Promotions",
				"src":"oPromotions.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Header",
				"src":"oHeader.html", 
				"target":"_self", 
				"active":false
			},
				{
				"name":"Card bottom gradient",
				"src":"oCardBottomGradient.html", 
				"target":"_self", 
				"active":false
			},
			{
				"name":"Footer",
				"src":"oFooter.html", 
				"target":"_self", 
				"active":false
			}
		],
		"templates":[
	
		],
		"pages":[
	
		],
		"defaultText" : [
			{ "txt":"Mercury"},
			{ "txt":"Venus"},
			{ "txt":"Earth"},
			{ "txt":"Mars"},
			{ "txt":"Jupiter"},
			{ "txt":"Saturn"}
		],
		"colors" : [
			{
				"project":"galerias",
				"colors":[
					{ color :'blue', code : '#111735'},
					{ color :'purple', code : '#333163'},
					{ color :'orange', code : '#F5891F'},
					{ color :'white', code : '#FFFFFF'},
					{ color :'pink', code : '#e40096'}
				]},
			{
				"project":"liverpool",
				"colors":[
					{ color : 'lvp_negro', code : '#000' },					
					{ color : 'lvp_gris1', code : '#383838' },
					{ color : 'lvp_gris2', code : '#3b3b3e' },
					{ color : 'lvp_gris3', code : '#474546' },
					{ color : 'lvp_gris4', code : '#4a4a4a' },
					{ color : 'lvp_gris5', code : '#808080' },
					{ color : 'lvp_gris6', code : '#888888' },
					{ color : 'lvp_gris7', code : '#8d8d8d' },
					{ color : 'lvp_gris8', code : '#a2a2a2' },					
					{ color : 'lvp_gris9', code : '#d0d0d0' },
					{ color : 'lvp_azul', code : '#009cff' },
					{ color : 'lvp_rosa', code : '#e10098' },
					{ color : 'lvp_rojo1', code : '#d0011b' },
					{ color : 'lvp_rojo2', code : '#D80A14' },
					{ color : 'lvp_rojo3', code : '#ff0000' },										
					{ color : 'lvp_naranja', code : '#ff9000' },
					{ color : 'lvp_amarillo', code : '#f4b806' },
					{ color : 'lvp_piel', code : '#ffba91' },
					{ color : 'lvp_crema', code : '#feffe1' },
					{ color : 'lvp_blanco1', code : '#f5f5f5' },
					{ color : 'lvp_blanco2', code : '#f8f8f8' },					
					{ color : 'lvp_blanco', code : '#ffffff' }
			]},
			{
				"project":"suburbia",
				"colors":[
				{ color: 'sub_negro', code: '#000'} ,
				{ color: 'sub_gris1', code: '#464646'} ,
				{ color: 'sub_gris2', code: '#555555'} ,
				{ color: 'sub_gris3', code: '#a2a2a2'} ,
				{ color: 'sub_gris4', code: '#aaaaaa'} ,
				{ color: 'sub_gris5', code: '#ccc'} ,
				{ color: 'sub_gris6', code: '#f5f5f5'} ,
				{ color: 'sub_blanco', code: '#FFF'} ,
				{ color: 'sub_morado', code: '#692c90'} ,
				{ color: 'sub_lila', code: '#863275'} ,
				{ color: 'sub_azul', code: '#00a7ce'} ,
				{ color: 'sub_verde1', code: '#0abd3e'} ,
				{ color: 'sub_verde2', code: '#95d600'} ,				
				{ color: 'sub_rojo1', code: '#d0011b'} ,
				{ color: 'sub_rojo2', code: '#d0011b'} ,
				{ color: 'sub_rosa', code: '#e54197'},				
				{ color: 'sub_naranja', code: '#ff6c0c'} 				
			]}			
		],
		"fonts" : [
			{ name :'SansPro', modifier : 'normal', txt : 'Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.'},
			{ name :'SansPro', modifier : 'lighter', txt : 'Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.'},
			{ name :'SansPro', modifier : 'bold', txt : 'Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.'},
			{ name :'Montserrat', modifier : 'normal', txt : 'Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.'},
			{ name :'Montserrat', modifier : 'light', txt : 'Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.'},
			{ name :'Montserrat', modifier : 'bold', txt : 'Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.'}
		]
	};