div(class='variants-section')
	ul(class="variants-section__modes")
		each val in modifiers
			li
				input(type='radio' name='Variant__'+el checked='true' id=''+el+'--'+val)
				label(for=''+el+'--'+val class='modifiersComponent') #{val}



