div(class='variants-section')
	ul(class="variants-section__modes")
		each val in variants
			li
				input(type='radio' name='Variant__'+cmp checked='true' id=''+cmp+'__'+val)
				label(for=''+cmp+'__'+val class='variantComponent') #{val}



