h3(class="main-article__component--device")
    | Responsive
div(class="mosaic-simple" id="mosaic-simple")
    each val, index in ['mosaic-simple__item','mosaic-simple__item','mosaic-simple__item','mosaic-simple__item','mosaic-simple__item','mosaic-simple__item']
        div(class=val)
            | Contenido