div(class="m-mosaicSimple" id="m-mosaicSimple")
	if customList.elements
		- for (var x = 0; x < customList.elements; x++)
			div(class="m-mosaicSimple__item")
				| Contenido
	else
		each v0,i0 in config.defaultText
			div(class="m-mosaicSimple__item") #{v0.txt}
