.a-heroImage
	width: images.hero.w;
	height: images.hero.h;
.a-landScapeDoubleImage
	width: images.landscapeDouble.w;
	height: images.landscapeDouble.h;
.a-simpleImage
	width: images.simple.w;
	height: images.simple.h;
	


.a-heroImage--ellipse
	border-radius 50%
.a-heroImage--opacity
	opacity 0.5
.a-heroImage--blur
	filter blur(4px)


.a-heroImage--ellipse--blur
	border-radius 30%
	filter blur(3px)
		
.a-portraitBanner
	width: banners.portrait.w;
	height: banners.portrait.h;
.a-portraitBannerSlim
	width: banners.portraitSlim.w;
	height: banners.portraitSlim.h;
.a-landscapeBanner
	width: banners.landscape.w;
	height: banners.landscape.h;
.a-landscapeBannerHero
	width: banners.landscapeHero.w;
	height: banners.landscapeHero.h;
.a-simpleBanner
	width: banners.simple.w;
	height: banners.simple.h;