.a-heroImage
	width: images.hero.w;
	height: images.hero.h;
.a-landScapeDoubleImage
	width: images.landscapeDouble.w;
	height: images.landscapeDouble.h;
.a-simpleImage
	width: images.simple.w;
	height: images.simple.h;
	


.a-heroImage--ellipse
	border-radius 50%
.a-heroImage--opacity
	opacity 0.5
.a-heroImage--blur
	filter blur(4px)