colors = {
	blue:#111735,
	purple:#333163,
	orange:#F5891F,
	white:#FFFFFF,	
	pink:#e40096,
	lvp_negro:#000,	
	lvp_gris1:#383838,
	lvp_gris2:#3b3b3e,
	lvp_gris3:#474546,
	lvp_gris4:#4a4a4a,
	lvp_gris5:#808080,
	lvp_gris6:#888888,
	lvp_gris7:#8d8d8d,
	lvp_gris8:#a2a2a2,	
	lvp_gris9:#d0d0d0,
	lvp_azul:#009cff,
	lvp_rojo1:#d0011b,
	lvp_rojo2:#D80A14,
	lvp_rojo3:#ff0000,
	lvp_rosa:#e10098,
	lvp_piel:#ffba91,
	lvp_naranja:#ff9000,
	lvp_amarillo:#f4b806,
	lvp_crema:#feffe1,
	lvp_blanco1:#f5f5f5,
	lvp_blanco2:#f8f8f8,	
	lvp_blanco:#ffffff,
	sub_negro:#000,	
	sub_gris1:#464646,
	sub_gris2:#555555,		
	sub_gris3:#a2a2a2,
	sub_gris4:#aaaaaa,
	sub_gris5:#ccc,
	sub_gris6:#f5f5f5,
	sub_blanco:#FFF,
	sub_morado:#692c90,
	sub_lila:#863275,
	sub_azul:#00a7ce,
	sub_verde1:#0abd3e,
	sub_verde2:#95d600,
	sub_rojo1:#d0011b,
	sub_rojo2:#d0011b,
	sub_rosa:#e54197,	
	sub_naranja:#ff6c0c	
}