images = {
	hero: {
		w: 1600px, h: 436px
	},
	landscapeDouble: {
		w: 459px, h: 230px
	},
	simple: {
		w: 222px, h: 222px
	}
}


banners = {
	landscape: {
		w: 777px, h: 730px
	},
	landscapeHero: {
		w: 947px, h: 785px
	},
	simple: {
		w: 653px, h: 785px
	},
	portrait: {
		w: 823px, h: 242px
	},
	portraitSlim: {
		w: 533px, h: 924px
	}
}
