
backgroundColor(color)
	background: color;
textColor(color)
	color: color;
typeFont(font, modifier)
	if font is 'SansPro'
		font-family 'Source Sans Pro', sans-serif
	else
		font-family font, font
	
	font-weight modifier