section(class="footer-basic" id="footer-basic")
	div(class="footer-basic-social")
		- var customList = ['facebook', 'twitter', 'instagram', 'youtube', 'pinterest'];
		include ../molecules/list/icon

	div(class="footer-basic-notify")
		- var customList = ['Portal inmobiliario', 'Renta de espacios', 'Bolsa de trabajo', 'Contacto'];
		- var mode = 'list-simple__list-bold'
		include ../molecules/list/simple
	div(class="footer-basic-sections")
		- var customList = ['Centros Comerciales', 'Tiendas', 'Eventos', 'Promociones', 'Galerías Club', 'Galerías Magazine', 'Galerías TV'];
		- var mode = 'list-simple__list-pipe'
		include ../molecules/list/simple
	div(class="footer-basic-external")
		- var customList = ['Terminos y condiciones', 'Aviso de privacidad', 'Mapa del sitio', 'Contacto'];
		- var mode = 'list-simple__list-light'
		include ../molecules/list/simple
	div(class="footer-basic-text")
		p
			| Todos los derechos reservados, prohibida su reproducción parcial o total sin previa autorización por escrito del titular. Las marcas de productos o servicios son propiedad de sus respectivos titulares y son usadas aquí únicamente como referencia.
