div(class="org-header-single" id="org-header-single")    
    div(class="org-header-single__menu-bar")
        div(class="org-header-single__menu-bar__logo")
            img(src="https://www.galerias.com/img/270317_MX.png")            
        
        div(class="org-header-single__menu-bar__links")
            - var customList = [{"txt" : "Centros Comerciales", "ico" : ""},{"txt" : "Tiendas", "ico" : ""},{"txt" : "Eventos", "ico" : ""},{"txt" : "Promociones", "ico" : ""},{"txt" : "Galerías Club", "ico" : ""},{"txt" : "Galerías Magazine", "ico" : ""},{"txt" : "Galerías TV", "ico" : ""},{"txt" : "", "ico" : "material-icons", "icoName" : "search"}];
            - var idB ="btn-search"
            - var mode = "list-complete__list-hrt"
            include ../molecules/list/complete

        div(class="org-header-single__menu-bar__login-button")
            - var text ="Iniciar sesión"
            - var mode ="atom-round-button__flat"
             include atom-round-button

    div(class="org-header-single__search-bar hidden-top-search-bar" id="top-search-bar") 
        include ../molecules/finder/leftIcon 

