select(class=dataAtom.modifiers ? dataAtom.el+" "+dataAtom.el+dataAtom.modifier : dataAtom.el id=dataAtom.el)
	if dataAtom.group
		optgroup(label="options")
			option option 1
			option option 2
			option option 3
			option option 4
	else
		option option 1
		option option 2
		option option 3
		option option 4
