@font-face
	font-family 'icomoon'
	src url('../icons/files/icomoon.eot?m2u599')
	src url('../fonts/files/icomoon.eot?m2u599#iefix') format('embedded-opentype'),
 url('../icons/files/icomoon.ttf?m2u599') format('truetype'),
		url('../icons/files/icomoon.woff?m2u599') format('woff'),
		url('../icons/files/icomoon.svg?m2u599#icomoon') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

icon-home(pos)
	.icon-home
		&:{unquote(pos)}
			content "\e900"
icon-home2(pos)
	.icon-home2
		&:{unquote(pos)}
			content "\e901"
icon-home3(pos)
	.icon-home3
		&:{unquote(pos)}
			content "\e902"
icon-office(pos)
	.icon-office
		&:{unquote(pos)}
			content "\e903"
icon-newspaper(pos)
	.icon-newspaper
		&:{unquote(pos)}
			content "\e904"
icon-pencil(pos)
	.icon-pencil
		&:{unquote(pos)}
			content "\e905"
icon-pencil2(pos)
	.icon-pencil2
		&:{unquote(pos)}
			content "\e906"
icon-quill(pos)
	.icon-quill
		&:{unquote(pos)}
			content "\e907"
icon-pen(pos)
	.icon-pen
		&:{unquote(pos)}
			content "\e908"
icon-blog(pos)
	.icon-blog
		&:{unquote(pos)}
			content "\e909"
icon-eyedropper(pos)
	.icon-eyedropper
		&:{unquote(pos)}
			content "\e90a"
icon-droplet(pos)
	.icon-droplet
		&:{unquote(pos)}
			content "\e90b"
icon-paint-format(pos)
	.icon-paint-format
		&:{unquote(pos)}
			content "\e90c"
icon-image(pos)
	.icon-image
		&:{unquote(pos)}
			content "\e90d"
icon-images(pos)
	.icon-images
		&:{unquote(pos)}
			content "\e90e"
icon-camera(pos)
	.icon-camera
		&:{unquote(pos)}
			content "\e90f"
icon-headphones(pos)
	.icon-headphones
		&:{unquote(pos)}
			content "\e910"
icon-music(pos)
	.icon-music
		&:{unquote(pos)}
			content "\e911"
icon-play(pos)
	.icon-play
		&:{unquote(pos)}
			content "\e912"
icon-film(pos)
	.icon-film
		&:{unquote(pos)}
			content "\e913"
icon-video-camera(pos)
	.icon-video-camera
		&:{unquote(pos)}
			content "\e914"
icon-dice(pos)
	.icon-dice
		&:{unquote(pos)}
			content "\e915"
icon-pacman(pos)
	.icon-pacman
		&:{unquote(pos)}
			content "\e916"
icon-spades(pos)
	.icon-spades
		&:{unquote(pos)}
			content "\e917"
icon-clubs(pos)
	.icon-clubs
		&:{unquote(pos)}
			content "\e918"
icon-diamonds(pos)
	.icon-diamonds
		&:{unquote(pos)}
			content "\e919"
icon-bullhorn(pos)
	.icon-bullhorn
		&:{unquote(pos)}
			content "\e91a"
icon-connection(pos)
	.icon-connection
		&:{unquote(pos)}
			content "\e91b"
icon-podcast(pos)
	.icon-podcast
		&:{unquote(pos)}
			content "\e91c"
icon-feed(pos)
	.icon-feed
		&:{unquote(pos)}
			content "\e91d"
icon-mic(pos)
	.icon-mic
		&:{unquote(pos)}
			content "\e91e"
icon-book(pos)
	.icon-book
		&:{unquote(pos)}
			content "\e91f"
icon-books(pos)
	.icon-books
		&:{unquote(pos)}
			content "\e920"
icon-library(pos)
	.icon-library
		&:{unquote(pos)}
			content "\e921"
icon-file-text(pos)
	.icon-file-text
		&:{unquote(pos)}
			content "\e922"
icon-profile(pos)
	.icon-profile
		&:{unquote(pos)}
			content "\e923"
icon-file-empty(pos)
	.icon-file-empty
		&:{unquote(pos)}
			content "\e924"
icon-files-empty(pos)
	.icon-files-empty
		&:{unquote(pos)}
			content "\e925"
icon-file-text2(pos)
	.icon-file-text2
		&:{unquote(pos)}
			content "\e926"
icon-file-picture(pos)
	.icon-file-picture
		&:{unquote(pos)}
			content "\e927"
icon-file-music(pos)
	.icon-file-music
		&:{unquote(pos)}
			content "\e928"
icon-file-play(pos)
	.icon-file-play
		&:{unquote(pos)}
			content "\e929"
icon-file-video(pos)
	.icon-file-video
		&:{unquote(pos)}
			content "\e92a"
icon-file-zip(pos)
	.icon-file-zip
		&:{unquote(pos)}
			content "\e92b"
icon-copy(pos)
	.icon-copy
		&:{unquote(pos)}
			content "\e92c"
icon-paste(pos)
	.icon-paste
		&:{unquote(pos)}
			content "\e92d"
icon-stack(pos)
	.icon-stack
		&:{unquote(pos)}
			content "\e92e"
icon-folder(pos)
	.icon-folder
		&:{unquote(pos)}
			content "\e92f"
icon-folder-open(pos)
	.icon-folder-open
		&:{unquote(pos)}
			content "\e930"
icon-folder-plus(pos)
	.icon-folder-plus
		&:{unquote(pos)}
			content "\e931"
icon-folder-minus(pos)
	.icon-folder-minus
		&:{unquote(pos)}
			content "\e932"
icon-folder-download(pos)
	.icon-folder-download
		&:{unquote(pos)}
			content "\e933"
icon-folder-upload(pos)
	.icon-folder-upload
		&:{unquote(pos)}
			content "\e934"
icon-price-tag(pos)
	.icon-price-tag
		&:{unquote(pos)}
			content "\e935"
icon-price-tags(pos)
	.icon-price-tags
		&:{unquote(pos)}
			content "\e936"
icon-barcode(pos)
	.icon-barcode
		&:{unquote(pos)}
			content "\e937"
icon-qrcode(pos)
	.icon-qrcode
		&:{unquote(pos)}
			content "\e938"
icon-ticket(pos)
	.icon-ticket
		&:{unquote(pos)}
			content "\e939"
icon-cart(pos)
	.icon-cart
		&:{unquote(pos)}
			content "\e93a"
			
icon-coin-dollar(pos)
	.icon-coin-dollar
		&:{unquote(pos)}
			content "\e93b"
icon-coin-euro(pos)
	.icon-coin-euro
		&:{unquote(pos)}
			content "\e93c"
icon-coin-pound(pos)
	.icon-coin-pound
		&:{unquote(pos)}
			content "\e93d"
icon-coin-yen(pos)
	.icon-coin-yen
		&:{unquote(pos)}
			content "\e93e"
icon-credit-card(pos)
	.icon-credit-card
		&:{unquote(pos)}
			content "\e93f"
icon-calculator(pos)
	.icon-calculator
		&:{unquote(pos)}
			content "\e940"
icon-lifebuoy(pos)
	.icon-lifebuoy
		&:{unquote(pos)}
			content "\e941"
icon-phone(pos)
	.icon-phone
		&:{unquote(pos)}
			content "\e942"
icon-phone-hang-up(pos)
	.icon-phone-hang-up
		&:{unquote(pos)}
			content "\e943"
icon-address-book(pos)
	.icon-address-book
		&:{unquote(pos)}
			content "\e944"
icon-envelop(pos)
	.icon-envelop
		&:{unquote(pos)}
			content "\e945"
icon-pushpin(pos)
	.icon-pushpin
		&:{unquote(pos)}
			content "\e946"
icon-location(pos)
	.icon-location
		&:{unquote(pos)}
			content "\e947"
icon-location2(pos)
	.icon-location2
		&:{unquote(pos)}
			content "\e948"
icon-compass(pos)
	.icon-compass
		&:{unquote(pos)}
			content "\e949"
icon-compass2(pos)
	.icon-compass2
		&:{unquote(pos)}
			content "\e94a"
icon-map(pos)
	.icon-map
		&:{unquote(pos)}
			content "\e94b"
icon-map2(pos)
	.icon-map2
		&:{unquote(pos)}
			content "\e94c"
icon-history(pos)
	.icon-history
		&:{unquote(pos)}
			content "\e94d"
icon-clock(pos)
	.icon-clock
		&:{unquote(pos)}
			content "\e94e"
icon-clock2(pos)
	.icon-clock2
		&:{unquote(pos)}
			content "\e94f"
icon-alarm(pos)
	.icon-alarm
		&:{unquote(pos)}
			content "\e950"
icon-bell(pos)
	.icon-bell
		&:{unquote(pos)}
			content "\e951"
icon-stopwatch(pos)
	.icon-stopwatch
		&:{unquote(pos)}
			content "\e952"
icon-calendar(pos)
	.icon-calendar
		&:{unquote(pos)}
			content "\e953"
icon-printer(pos)
	.icon-printer
		&:{unquote(pos)}
			content "\e954"
icon-keyboard(pos)
	.icon-keyboard
		&:{unquote(pos)}
			content "\e955"
icon-display(pos)
	.icon-display
		&:{unquote(pos)}
			content "\e956"
icon-laptop(pos)
	.icon-laptop
		&:{unquote(pos)}
			content "\e957"
icon-mobile(pos)
	.icon-mobile
		&:{unquote(pos)}
			content "\e958"
icon-mobile2(pos)
	.icon-mobile2
		&:{unquote(pos)}
			content "\e959"
icon-tablet(pos)
	.icon-tablet
		&:{unquote(pos)}
			content "\e95a"
icon-tv(pos)
	.icon-tv
		&:{unquote(pos)}
			content "\e95b"
icon-drawer(pos)
	.icon-drawer
		&:{unquote(pos)}
			content "\e95c"
icon-drawer2(pos)
	.icon-drawer2
		&:{unquote(pos)}
			content "\e95d"
icon-box-add(pos)
	.icon-box-add
		&:{unquote(pos)}
			content "\e95e"
icon-box-remove(pos)
	.icon-box-remove
		&:{unquote(pos)}
			content "\e95f"
icon-download(pos)
	.icon-download
		&:{unquote(pos)}
			content "\e960"
icon-upload(pos)
	.icon-upload
		&:{unquote(pos)}
			content "\e961"
icon-floppy-disk(pos)
	.icon-floppy-disk
		&:{unquote(pos)}
			content "\e962"
icon-drive(pos)
	.icon-drive
		&:{unquote(pos)}
			content "\e963"
icon-database(pos)
	.icon-database
		&:{unquote(pos)}
			content "\e964"
icon-undo(pos)
	.icon-undo
		&:{unquote(pos)}
			content "\e965"
icon-redo(pos)
	.icon-redo
		&:{unquote(pos)}
			content "\e966"
icon-undo2(pos)
	.icon-undo2
		&:{unquote(pos)}
			content "\e967"
icon-redo2(pos)
	.icon-redo2
		&:{unquote(pos)}
			content "\e968"
icon-forward(pos)
	.icon-forward
		&:{unquote(pos)}
			content "\e969"
icon-reply(pos)
	.icon-reply
		&:{unquote(pos)}
			content "\e96a"
icon-bubble(pos)
	.icon-bubble
		&:{unquote(pos)}
			content "\e96b"
icon-bubbles(pos)
	.icon-bubbles
		&:{unquote(pos)}
			content "\e96c"
icon-bubbles2(pos)
	.icon-bubbles2
		&:{unquote(pos)}
			content "\e96d"
icon-bubble2(pos)
	.icon-bubble2
		&:{unquote(pos)}
			content "\e96e"
icon-bubbles3(pos)
	.icon-bubbles3
		&:{unquote(pos)}
			content "\e96f"
icon-bubbles4(pos)
	.icon-bubbles4
		&:{unquote(pos)}
			content "\e970"
icon-user(pos)
	.icon-user
		&:{unquote(pos)}
			content "\e971"
icon-users(pos)
	.icon-users
		&:{unquote(pos)}
			content "\e972"
icon-user-plus(pos)
	.icon-user-plus
		&:{unquote(pos)}
			content "\e973"
icon-user-minus(pos)
	.icon-user-minus
		&:{unquote(pos)}
			content "\e974"
icon-user-check(pos)
	.icon-user-check
		&:{unquote(pos)}
			content "\e975"
icon-user-tie(pos)
	.icon-user-tie
		&:{unquote(pos)}
			content "\e976"
icon-quotes-left(pos)
	.icon-quotes-left
		&:{unquote(pos)}
			content "\e977"
icon-quotes-right(pos)
	.icon-quotes-right
		&:{unquote(pos)}
			content "\e978"
icon-hour-glass(pos)
	.icon-hour-glass
		&:{unquote(pos)}
			content "\e979"
icon-spinner(pos)
	.icon-spinner
		&:{unquote(pos)}
			content "\e97a"
icon-spinner2(pos)
	.icon-spinner2
		&:{unquote(pos)}
			content "\e97b"
icon-spinner3(pos)
	.icon-spinner3
		&:{unquote(pos)}
			content "\e97c"
icon-spinner4(pos)
	.icon-spinner4
		&:{unquote(pos)}
			content "\e97d"
icon-spinner5(pos)
	.icon-spinner5
		&:{unquote(pos)}
			content "\e97e"
icon-spinner6(pos)
	.icon-spinner6
		&:{unquote(pos)}
			content "\e97f"
icon-spinner7(pos)
	.icon-spinner7
		&:{unquote(pos)}
			content "\e980"
icon-spinner8(pos)
	.icon-spinner8
		&:{unquote(pos)}
			content "\e981"
icon-spinner9(pos)
	.icon-spinner9
		&:{unquote(pos)}
			content "\e982"
icon-spinner10(pos)
	.icon-spinner10
		&:{unquote(pos)}
			content "\e983"
icon-spinner11(pos)
	.icon-spinner11
		&:{unquote(pos)}
			content "\e984"
icon-binoculars(pos)
	.icon-binoculars
		&:{unquote(pos)}
			content "\e985"
icon-search(pos)
	.icon-search
		&:{unquote(pos)}
			content "\e986"
icon-zoom-in(pos)
	.icon-zoom-in
		&:{unquote(pos)}
			content "\e987"
icon-zoom-out(pos)
	.icon-zoom-out
		&:{unquote(pos)}
			content "\e988"
icon-enlarge(pos)
	.icon-enlarge
		&:{unquote(pos)}
			content "\e989"
icon-shrink(pos)
	.icon-shrink
		&:{unquote(pos)}
			content "\e98a"
icon-enlarge2(pos)
	.icon-enlarge2
		&:{unquote(pos)}
			content "\e98b"
icon-shrink2(pos)
	.icon-shrink2
		&:{unquote(pos)}
			content "\e98c"
icon-key(pos)
	.icon-key
		&:{unquote(pos)}
			content "\e98d"
icon-key2(pos)
	.icon-key2
		&:{unquote(pos)}
			content "\e98e"
icon-lock(pos)
	.icon-lock
		&:{unquote(pos)}
			content "\e98f"
icon-unlocked(pos)
	.icon-unlocked
		&:{unquote(pos)}
			content "\e990"
icon-wrench(pos)
	.icon-wrench
		&:{unquote(pos)}
			content "\e991"
icon-equalizer(pos)
	.icon-equalizer
		&:{unquote(pos)}
			content "\e992"
icon-equalizer2(pos)
	.icon-equalizer2
		&:{unquote(pos)}
			content "\e993"
icon-cog(pos)
	.icon-cog
		&:{unquote(pos)}
			content "\e994"
icon-cogs(pos)
	.icon-cogs
		&:{unquote(pos)}
			content "\e995"
icon-hammer(pos)
	.icon-hammer
		&:{unquote(pos)}
			content "\e996"
icon-magic-wand(pos)
	.icon-magic-wand
		&:{unquote(pos)}
			content "\e997"
icon-aid-kit(pos)
	.icon-aid-kit
		&:{unquote(pos)}
			content "\e998"
icon-bug(pos)
	.icon-bug
		&:{unquote(pos)}
			content "\e999"
icon-pie-chart(pos)
	.icon-pie-chart
		&:{unquote(pos)}
			content "\e99a"
icon-stats-dots(pos)
	.icon-stats-dots
		&:{unquote(pos)}
			content "\e99b"
icon-stats-bars(pos)
	.icon-stats-bars
		&:{unquote(pos)}
			content "\e99c"
icon-stats-bars2(pos)
	.icon-stats-bars2
		&:{unquote(pos)}
			content "\e99d"
icon-trophy(pos)
	.icon-trophy
		&:{unquote(pos)}
			content "\e99e"
icon-gift(pos)
	.icon-gift
		&:{unquote(pos)}
			content "\e99f"
icon-glass(pos)
	.icon-glass
		&:{unquote(pos)}
			content "\e9a0"
icon-glass2(pos)
	.icon-glass2
		&:{unquote(pos)}
			content "\e9a1"
icon-mug(pos)
	.icon-mug
		&:{unquote(pos)}
			content "\e9a2"
icon-spoon-knife(pos)
	.icon-spoon-knife
		&:{unquote(pos)}
			content "\e9a3"
icon-leaf(pos)
	.icon-leaf
		&:{unquote(pos)}
			content "\e9a4"
icon-rocket(pos)
	.icon-rocket
		&:{unquote(pos)}
			content "\e9a5"
icon-meter(pos)
	.icon-meter
		&:{unquote(pos)}
			content "\e9a6"
icon-meter2(pos)
	.icon-meter2
		&:{unquote(pos)}
			content "\e9a7"
icon-hammer2(pos)
	.icon-hammer2
		&:{unquote(pos)}
			content "\e9a8"
icon-fire(pos)
	.icon-fire
		&:{unquote(pos)}
			content "\e9a9"
icon-lab(pos)
	.icon-lab
		&:{unquote(pos)}
			content "\e9aa"
icon-magnet(pos)
	.icon-magnet
		&:{unquote(pos)}
			content "\e9ab"
icon-bin(pos)
	.icon-bin
		&:{unquote(pos)}
			content "\e9ac"
icon-bin2(pos)
	.icon-bin2
		&:{unquote(pos)}
			content "\e9ad"
icon-briefcase(pos)
	.icon-briefcase
		&:{unquote(pos)}
			content "\e9ae"
icon-airplane(pos)
	.icon-airplane
		&:{unquote(pos)}
			content "\e9af"
icon-truck(pos)
	.icon-truck
		&:{unquote(pos)}
			content "\e9b0"
icon-road(pos)
	.icon-road
		&:{unquote(pos)}
			content "\e9b1"
icon-accessibility(pos)
	.icon-accessibility
		&:{unquote(pos)}
			content "\e9b2"
icon-target(pos)
	.icon-target
		&:{unquote(pos)}
			content "\e9b3"
icon-shield(pos)
	.icon-shield
		&:{unquote(pos)}
			content "\e9b4"
icon-power(pos)
	.icon-power
		&:{unquote(pos)}
			content "\e9b5"
icon-switch(pos)
	.icon-switch
		&:{unquote(pos)}
			content "\e9b6"
icon-power-cord(pos)
	.icon-power-cord
		&:{unquote(pos)}
			content "\e9b7"
icon-clipboard(pos)
	.icon-clipboard
		&:{unquote(pos)}
			content "\e9b8"
icon-list-numbered(pos)
	.icon-list-numbered
		&:{unquote(pos)}
			content "\e9b9"
icon-list(pos)
	.icon-list
		&:{unquote(pos)}
			content "\e9ba"
icon-list2(pos)
	.icon-list2
		&:{unquote(pos)}
			content "\e9bb"
icon-tree(pos)
	.icon-tree
		&:{unquote(pos)}
			content "\e9bc"
icon-menu(pos)
	.icon-menu
		&:{unquote(pos)}
			content "\e9bd"
icon-menu2(pos)
	.icon-menu2
		&:{unquote(pos)}
			content "\e9be"
icon-menu3(pos)
	.icon-menu3
		&:{unquote(pos)}
			content "\e9bf"
icon-menu4(pos)
	.icon-menu4
		&:{unquote(pos)}
			content "\e9c0"
icon-cloud(pos)
	.icon-cloud
		&:{unquote(pos)}
			content "\e9c1"
icon-cloud-download(pos)
	.icon-cloud-download
		&:{unquote(pos)}
			content "\e9c2"
icon-cloud-upload(pos)
	.icon-cloud-upload
		&:{unquote(pos)}
			content "\e9c3"
icon-cloud-check(pos)
	.icon-cloud-check
		&:{unquote(pos)}
			content "\e9c4"
icon-download2(pos)
	.icon-download2
		&:{unquote(pos)}
			content "\e9c5"
icon-upload2(pos)
	.icon-upload2
		&:{unquote(pos)}
			content "\e9c6"
icon-download3(pos)
	.icon-download3
		&:{unquote(pos)}
			content "\e9c7"
icon-upload3(pos)
	.icon-upload3
		&:{unquote(pos)}
			content "\e9c8"
icon-sphere(pos)
	.icon-sphere
		&:{unquote(pos)}
			content "\e9c9"
icon-earth(pos)
	.icon-earth
		&:{unquote(pos)}
			content "\e9ca"
icon-link(pos)
	.icon-link
		&:{unquote(pos)}
			content "\e9cb"
icon-flag(pos)
	.icon-flag
		&:{unquote(pos)}
			content "\e9cc"
icon-attachment(pos)
	.icon-attachment
		&:{unquote(pos)}
			content "\e9cd"
icon-eye(pos)
	.icon-eye
		&:{unquote(pos)}
			content "\e9ce"
icon-eye-plus(pos)
	.icon-eye-plus
		&:{unquote(pos)}
			content "\e9cf"
icon-eye-minus(pos)
	.icon-eye-minus
		&:{unquote(pos)}
			content "\e9d0"
icon-eye-blocked(pos)
	.icon-eye-blocked
		&:{unquote(pos)}
			content "\e9d1"
icon-bookmark(pos)
	.icon-bookmark
		&:{unquote(pos)}
			content "\e9d2"
icon-bookmarks(pos)
	.icon-bookmarks
		&:{unquote(pos)}
			content "\e9d3"
icon-sun(pos)
	.icon-sun
		&:{unquote(pos)}
			content "\e9d4"
icon-contrast(pos)
	.icon-contrast
		&:{unquote(pos)}
			content "\e9d5"
icon-brightness-contrast(pos)
	.icon-brightness-contrast
		&:{unquote(pos)}
			content "\e9d6"
icon-star-empty(pos)
	.icon-star-empty
		&:{unquote(pos)}
			content "\e9d7"
icon-star-half(pos)
	.icon-star-half
		&:{unquote(pos)}
			content "\e9d8"
icon-star-full(pos)
	.icon-star-full
		&:{unquote(pos)}
			content "\e9d9"
icon-heart(pos)
	.icon-heart
		&:{unquote(pos)}
			content "\e9da"
icon-heart-broken(pos)
	.icon-heart-broken
		&:{unquote(pos)}
			content "\e9db"
icon-man(pos)
	.icon-man
		&:{unquote(pos)}
			content "\e9dc"
icon-woman(pos)
	.icon-woman
		&:{unquote(pos)}
			content "\e9dd"
icon-man-woman(pos)
	.icon-man-woman
		&:{unquote(pos)}
			content "\e9de"
icon-happy(pos)
	.icon-happy
		&:{unquote(pos)}
			content "\e9df"
icon-happy2(pos)
	.icon-happy2
		&:{unquote(pos)}
			content "\e9e0"
icon-smile(pos)
	.icon-smile
		&:{unquote(pos)}
			content "\e9e1"
icon-smile2(pos)
	.icon-smile2
		&:{unquote(pos)}
			content "\e9e2"
icon-tongue(pos)
	.icon-tongue
		&:{unquote(pos)}
			content "\e9e3"
icon-tongue2(pos)
	.icon-tongue2
		&:{unquote(pos)}
			content "\e9e4"
icon-sad(pos)
	.icon-sad
		&:{unquote(pos)}
			content "\e9e5"
icon-sad2(pos)
	.icon-sad2
		&:{unquote(pos)}
			content "\e9e6"
icon-wink(pos)
	.icon-wink
		&:{unquote(pos)}
			content "\e9e7"
icon-wink2(pos)
	.icon-wink2
		&:{unquote(pos)}
			content "\e9e8"
icon-grin(pos)
	.icon-grin
		&:{unquote(pos)}
			content "\e9e9"
icon-grin2(pos)
	.icon-grin2
		&:{unquote(pos)}
			content "\e9ea"
icon-cool(pos)
	.icon-cool
		&:{unquote(pos)}
			content "\e9eb"
icon-cool2(pos)
	.icon-cool2
		&:{unquote(pos)}
			content "\e9ec"
icon-angry(pos)
	.icon-angry
		&:{unquote(pos)}
			content "\e9ed"
icon-angry2(pos)
	.icon-angry2
		&:{unquote(pos)}
			content "\e9ee"
icon-evil(pos)
	.icon-evil
		&:{unquote(pos)}
			content "\e9ef"
icon-evil2(pos)
	.icon-evil2
		&:{unquote(pos)}
			content "\e9f0"
icon-shocked(pos)
	.icon-shocked
		&:{unquote(pos)}
			content "\e9f1"
icon-shocked2(pos)
	.icon-shocked2
		&:{unquote(pos)}
			content "\e9f2"
icon-baffled(pos)
	.icon-baffled
		&:{unquote(pos)}
			content "\e9f3"
icon-baffled2(pos)
	.icon-baffled2
		&:{unquote(pos)}
			content "\e9f4"
icon-confused(pos)
	.icon-confused
		&:{unquote(pos)}
			content "\e9f5"
icon-confused2(pos)
	.icon-confused2
		&:{unquote(pos)}
			content "\e9f6"
icon-neutral(pos)
	.icon-neutral
		&:{unquote(pos)}
			content "\e9f7"
icon-neutral2(pos)
	.icon-neutral2
		&:{unquote(pos)}
			content "\e9f8"
icon-hipster(pos)
	.icon-hipster
		&:{unquote(pos)}
			content "\e9f9"
icon-hipster2(pos)
	.icon-hipster2
		&:{unquote(pos)}
			content "\e9fa"
icon-wondering(pos)
	.icon-wondering
		&:{unquote(pos)}
			content "\e9fb"
icon-wondering2(pos)
	.icon-wondering2
		&:{unquote(pos)}
			content "\e9fc"
icon-sleepy(pos)
	.icon-sleepy
		&:{unquote(pos)}
			content "\e9fd"
icon-sleepy2(pos)
	.icon-sleepy2
		&:{unquote(pos)}
			content "\e9fe"
icon-frustrated(pos)
	.icon-frustrated
		&:{unquote(pos)}
			content "\e9ff"
icon-frustrated2(pos)
	.icon-frustrated2
		&:{unquote(pos)}
			content "\ea00"
icon-crying(pos)
	.icon-crying
		&:{unquote(pos)}
			content "\ea01"
icon-crying2(pos)
	.icon-crying2
		&:{unquote(pos)}
			content "\ea02"
icon-point-up(pos)
	.icon-point-up
		&:{unquote(pos)}
			content "\ea03"
icon-point-right(pos)
	.icon-point-right
		&:{unquote(pos)}
			content "\ea04"
icon-point-down(pos)
	.icon-point-down
		&:{unquote(pos)}
			content "\ea05"
icon-point-left(pos)
	.icon-point-left
		&:{unquote(pos)}
			content "\ea06"
icon-warning(pos)
	.icon-warning
		&:{unquote(pos)}
			content "\ea07"
icon-notification(pos)
	.icon-notification
		&:{unquote(pos)}
			content "\ea08"
icon-question(pos)
	.icon-question
		&:{unquote(pos)}
			content "\ea09"
icon-plus(pos)
	.icon-plus
		&:{unquote(pos)}
			content "\ea0a"
icon-minus(pos)
	.icon-minus
		&:{unquote(pos)}
			content "\ea0b"
icon-info(pos)
	.icon-info
		&:{unquote(pos)}
			content "\ea0c"
icon-cancel-circle(pos)
	.icon-cancel-circle
		&:{unquote(pos)}
			content "\ea0d"
icon-blocked(pos)
	.icon-blocked
		&:{unquote(pos)}
			content "\ea0e"
icon-cross(pos)
	.icon-cross
		&:{unquote(pos)}
			content "\ea0f"
icon-checkmark(pos)
	.icon-checkmark
		&:{unquote(pos)}
			content "\ea10"
icon-checkmark2(pos)
	.icon-checkmark2
		&:{unquote(pos)}
			content "\ea11"
icon-spell-check(pos)
	.icon-spell-check
		&:{unquote(pos)}
			content "\ea12"
icon-enter(pos)
	.icon-enter
		&:{unquote(pos)}
			content "\ea13"
icon-exit(pos)
	.icon-exit
		&:{unquote(pos)}
			content "\ea14"
icon-play2(pos)
	.icon-play2
		&:{unquote(pos)}
			content "\ea15"
icon-pause(pos)
	.icon-pause
		&:{unquote(pos)}
			content "\ea16"
icon-stop(pos)
	.icon-stop
		&:{unquote(pos)}
			content "\ea17"
icon-previous(pos)
	.icon-previous
		&:{unquote(pos)}
			content "\ea18"
icon-next(pos)
	.icon-next
		&:{unquote(pos)}
			content "\ea19"
icon-backward(pos)
	.icon-backward
		&:{unquote(pos)}
			content "\ea1a"
icon-forward2(pos)
	.icon-forward2
		&:{unquote(pos)}
			content "\ea1b"
icon-play3(pos)
	.icon-play3
		&:{unquote(pos)}
			content "\ea1c"
icon-pause2(pos)
	.icon-pause2
		&:{unquote(pos)}
			content "\ea1d"
icon-stop2(pos)
	.icon-stop2
		&:{unquote(pos)}
			content "\ea1e"
icon-backward2(pos)
	.icon-backward2
		&:{unquote(pos)}
			content "\ea1f"
icon-forward3(pos)
	.icon-forward3
		&:{unquote(pos)}
			content "\ea20"
icon-first(pos)
	.icon-first
		&:{unquote(pos)}
			content "\ea21"
icon-last(pos)
	.icon-last
		&:{unquote(pos)}
			content "\ea22"
icon-previous2(pos)
	.icon-previous2
		&:{unquote(pos)}
			content "\ea23"
icon-next2(pos)
	.icon-next2
		&:{unquote(pos)}
			content "\ea24"
icon-eject(pos)
	.icon-eject
		&:{unquote(pos)}
			content "\ea25"
icon-volume-high(pos)
	.icon-volume-high
		&:{unquote(pos)}
			content "\ea26"
icon-volume-medium(pos)
	.icon-volume-medium
		&:{unquote(pos)}
			content "\ea27"
icon-volume-low(pos)
	.icon-volume-low
		&:{unquote(pos)}
			content "\ea28"
icon-volume-mute(pos)
	.icon-volume-mute
		&:{unquote(pos)}
			content "\ea29"
icon-volume-mute2(pos)
	.icon-volume-mute2
		&:{unquote(pos)}
			content "\ea2a"
icon-volume-increase(pos)
	.icon-volume-increase
		&:{unquote(pos)}
			content "\ea2b"
icon-volume-decrease(pos)
	.icon-volume-decrease
		&:{unquote(pos)}
			content "\ea2c"
icon-loop(pos)
	.icon-loop
		&:{unquote(pos)}
			content "\ea2d"
icon-loop2(pos)
	.icon-loop2
		&:{unquote(pos)}
			content "\ea2e"
icon-infinite(pos)
	.icon-infinite
		&:{unquote(pos)}
			content "\ea2f"
icon-shuffle(pos)
	.icon-shuffle
		&:{unquote(pos)}
			content "\ea30"
icon-arrow-up-left(pos)
	.icon-arrow-up-left
		&:{unquote(pos)}
			content "\ea31"
icon-arrow-up(pos)
	.icon-arrow-up
		&:{unquote(pos)}
			content "\ea32"
icon-arrow-up-right(pos)
	.icon-arrow-up-right
		&:{unquote(pos)}
			content "\ea33"
icon-arrow-right(pos)
	.icon-arrow-right
		&:{unquote(pos)}
			content "\ea34"
icon-arrow-down-right(pos)
	.icon-arrow-down-right
		&:{unquote(pos)}
			content "\ea35"
icon-arrow-down(pos)
	.icon-arrow-down
		&:{unquote(pos)}
			content "\ea36"
icon-arrow-down-left(pos)
	.icon-arrow-down-left
		&:{unquote(pos)}
			content "\ea37"
icon-arrow-left(pos)
	.icon-arrow-left
		&:{unquote(pos)}
			content "\ea38"
icon-arrow-up-left2(pos)
	.icon-arrow-up-left2
		&:{unquote(pos)}
			content "\ea39"
icon-arrow-up2(pos)
	.icon-arrow-up2
		&:{unquote(pos)}
			content "\ea3a"
icon-arrow-up-right2(pos)
	.icon-arrow-up-right2
		&:{unquote(pos)}
			content "\ea3b"
icon-arrow-right2(pos)
	.icon-arrow-right2
		&:{unquote(pos)}
			content "\ea3c"
icon-arrow-down-right2(pos)
	.icon-arrow-down-right2
		&:{unquote(pos)}
			content "\ea3d"
icon-arrow-down2(pos)
	.icon-arrow-down2
		&:{unquote(pos)}
			content "\ea3e"
icon-arrow-down-left2(pos)
	.icon-arrow-down-left2
		&:{unquote(pos)}
			content "\ea3f"
icon-arrow-left2(pos)
	.icon-arrow-left2
		&:{unquote(pos)}
			content "\ea40"
icon-circle-up(pos)
	.icon-circle-up
		&:{unquote(pos)}
			content "\ea41"
icon-circle-right(pos)
	.icon-circle-right
		&:{unquote(pos)}
			content "\ea42"
icon-circle-down(pos)
	.icon-circle-down
		&:{unquote(pos)}
			content "\ea43"
icon-circle-left(pos)
	.icon-circle-left
		&:{unquote(pos)}
			content "\ea44"
icon-tab(pos)
	.icon-tab
		&:{unquote(pos)}
			content "\ea45"
icon-move-up(pos)
	.icon-move-up
		&:{unquote(pos)}
			content "\ea46"
icon-move-down(pos)
	.icon-move-down
		&:{unquote(pos)}
			content "\ea47"
icon-sort-alpha-asc(pos)
	.icon-sort-alpha-asc
		&:{unquote(pos)}
			content "\ea48"
icon-sort-alpha-desc(pos)
	.icon-sort-alpha-desc
		&:{unquote(pos)}
			content "\ea49"
icon-sort-numeric-asc(pos)
	.icon-sort-numeric-asc
		&:{unquote(pos)}
			content "\ea4a"
icon-sort-numberic-desc(pos)
	.icon-sort-numberic-desc
		&:{unquote(pos)}
			content "\ea4b"
icon-sort-amount-asc(pos)
	.icon-sort-amount-asc
		&:{unquote(pos)}
			content "\ea4c"
icon-sort-amount-desc(pos)
	.icon-sort-amount-desc
		&:{unquote(pos)}
			content "\ea4d"
icon-command(pos)
	.icon-command
		&:{unquote(pos)}
			content "\ea4e"
icon-shift(pos)
	.icon-shift
		&:{unquote(pos)}
			content "\ea4f"
icon-ctrl(pos)
	.icon-ctrl
		&:{unquote(pos)}
			content "\ea50"
icon-opt(pos)
	.icon-opt
		&:{unquote(pos)}
			content "\ea51"
icon-checkbox-checked(pos)
	.icon-checkbox-checked
		&:{unquote(pos)}
			content "\ea52"
icon-checkbox-unchecked(pos)
	.icon-checkbox-unchecked
		&:{unquote(pos)}
			content "\ea53"
icon-radio-checked(pos)
	.icon-radio-checked
		&:{unquote(pos)}
			content "\ea54"
icon-radio-checked2(pos)
	.icon-radio-checked2
		&:{unquote(pos)}
			content "\ea55"
icon-radio-unchecked(pos)
	.icon-radio-unchecked
		&:{unquote(pos)}
			content "\ea56"
icon-crop(pos)
	.icon-crop
		&:{unquote(pos)}
			content "\ea57"
icon-make-group(pos)
	.icon-make-group
		&:{unquote(pos)}
			content "\ea58"
icon-ungroup(pos)
	.icon-ungroup
		&:{unquote(pos)}
			content "\ea59"
icon-scissors(pos)
	.icon-scissors
		&:{unquote(pos)}
			content "\ea5a"
icon-filter(pos)
	.icon-filter
		&:{unquote(pos)}
			content "\ea5b"
icon-font(pos)
	.icon-font
		&:{unquote(pos)}
			content "\ea5c"
icon-ligature(pos)
	.icon-ligature
		&:{unquote(pos)}
			content "\ea5d"
icon-ligature2(pos)
	.icon-ligature2
		&:{unquote(pos)}
			content "\ea5e"
icon-text-height(pos)
	.icon-text-height
		&:{unquote(pos)}
			content "\ea5f"
icon-text-width(pos)
	.icon-text-width
		&:{unquote(pos)}
			content "\ea60"
icon-font-size(pos)
	.icon-font-size
		&:{unquote(pos)}
			content "\ea61"
icon-bold(pos)
	.icon-bold
		&:{unquote(pos)}
			content "\ea62"
icon-underline(pos)
	.icon-underline
		&:{unquote(pos)}
			content "\ea63"
icon-italic(pos)
	.icon-italic
		&:{unquote(pos)}
			content "\ea64"
icon-strikethrough(pos)
	.icon-strikethrough
		&:{unquote(pos)}
			content "\ea65"
icon-omega(pos)
	.icon-omega
		&:{unquote(pos)}
			content "\ea66"
icon-sigma(pos)
	.icon-sigma
		&:{unquote(pos)}
			content "\ea67"
icon-page-break(pos)
	.icon-page-break
		&:{unquote(pos)}
			content "\ea68"
icon-superscript(pos)
	.icon-superscript
		&:{unquote(pos)}
			content "\ea69"
icon-subscript(pos)
	.icon-subscript
		&:{unquote(pos)}
			content "\ea6a"
icon-superscript2(pos)
	.icon-superscript2
		&:{unquote(pos)}
			content "\ea6b"
icon-subscript2(pos)
	.icon-subscript2
		&:{unquote(pos)}
			content "\ea6c"
icon-text-color(pos)
	.icon-text-color
		&:{unquote(pos)}
			content "\ea6d"
icon-pagebreak(pos)
	.icon-pagebreak
		&:{unquote(pos)}
			content "\ea6e"
icon-clear-formatting(pos)
	.icon-clear-formatting
		&:{unquote(pos)}
			content "\ea6f"
icon-table(pos)
	.icon-table
		&:{unquote(pos)}
			content "\ea70"
icon-table2(pos)
	.icon-table2
		&:{unquote(pos)}
			content "\ea71"
icon-insert-template(pos)
	.icon-insert-template
		&:{unquote(pos)}
			content "\ea72"
icon-pilcrow(pos)
	.icon-pilcrow
		&:{unquote(pos)}
			content "\ea73"
icon-ltr(pos)
	.icon-ltr
		&:{unquote(pos)}
			content "\ea74"
icon-rtl(pos)
	.icon-rtl
		&:{unquote(pos)}
			content "\ea75"
icon-section(pos)
	.icon-section
		&:{unquote(pos)}
			content "\ea76"
icon-paragraph-left(pos)
	.icon-paragraph-left
		&:{unquote(pos)}
			content "\ea77"
icon-paragraph-center(pos)
	.icon-paragraph-center
		&:{unquote(pos)}
			content "\ea78"
icon-paragraph-right(pos)
	.icon-paragraph-right
		&:{unquote(pos)}
			content "\ea79"
icon-paragraph-justify(pos)
	.icon-paragraph-justify
		&:{unquote(pos)}
			content "\ea7a"
icon-indent-increase(pos)
	.icon-indent-increase
		&:{unquote(pos)}
			content "\ea7b"
icon-indent-decrease(pos)
	.icon-indent-decrease
		&:{unquote(pos)}
			content "\ea7c"
icon-share(pos)
	.icon-share
		&:{unquote(pos)}
			content "\ea7d"
icon-new-tab(pos)
	.icon-new-tab
		&:{unquote(pos)}
			content "\ea7e"
icon-embed(pos)
	.icon-embed
		&:{unquote(pos)}
			content "\ea7f"
icon-embed2(pos)
	.icon-embed2
		&:{unquote(pos)}
			content "\ea80"
icon-terminal(pos)
	.icon-terminal
		&:{unquote(pos)}
			content "\ea81"
icon-share2(pos)
	.icon-share2
		&:{unquote(pos)}
			content "\ea82"
icon-mail(pos)
	.icon-mail
		&:{unquote(pos)}
			content "\ea83"
icon-mail2(pos)
	.icon-mail2
		&:{unquote(pos)}
			content "\ea84"
icon-mail3(pos)
	.icon-mail3
		&:{unquote(pos)}
			content "\ea85"
icon-mail4(pos)
	.icon-mail4
		&:{unquote(pos)}
			content "\ea86"
icon-amazon(pos)
	.icon-amazon
		&:{unquote(pos)}
			content "\ea87"
icon-google(pos)
	.icon-google
		&:{unquote(pos)}
			content "\ea88"
icon-google2(pos)
	.icon-google2
		&:{unquote(pos)}
			content "\ea89"
icon-google3(pos)
	.icon-google3
		&:{unquote(pos)}
			content "\ea8a"
icon-google-plus(pos)
	.icon-google-plus
		&:{unquote(pos)}
			content "\ea8b"
icon-google-plus2(pos)
	.icon-google-plus2
		&:{unquote(pos)}
			content "\ea8c"
icon-google-plus3(pos)
	.icon-google-plus3
		&:{unquote(pos)}
			content "\ea8d"
icon-hangouts(pos)
	.icon-hangouts
		&:{unquote(pos)}
			content "\ea8e"
icon-google-drive(pos)
	.icon-google-drive
		&:{unquote(pos)}
			content "\ea8f"
icon-facebook(pos)
	.icon-facebook
		&:{unquote(pos)}
			content "\ea90"
icon-facebook2(pos)
	.icon-facebook2
		&:{unquote(pos)}
			content "\ea91"
icon-instagram(pos)
	.icon-instagram
		&:{unquote(pos)}
			content "\ea92"
icon-whatsapp(pos)
	.icon-whatsapp
		&:{unquote(pos)}
			content "\ea93"
icon-spotify(pos)
	.icon-spotify
		&:{unquote(pos)}
			content "\ea94"
icon-telegram(pos)
	.icon-telegram
		&:{unquote(pos)}
			content "\ea95"
icon-twitter(pos)
	.icon-twitter
		&:{unquote(pos)}
			content "\ea96"
icon-vine(pos)
	.icon-vine
		&:{unquote(pos)}
			content "\ea97"
icon-vk(pos)
	.icon-vk
		&:{unquote(pos)}
			content "\ea98"
icon-renren(pos)
	.icon-renren
		&:{unquote(pos)}
			content "\ea99"
icon-sina-weibo(pos)
	.icon-sina-weibo
		&:{unquote(pos)}
			content "\ea9a"
icon-rss(pos)
	.icon-rss
		&:{unquote(pos)}
			content "\ea9b"
icon-rss2(pos)
	.icon-rss2
		&:{unquote(pos)}
			content "\ea9c"
icon-youtube(pos)
	.icon-youtube
		&:{unquote(pos)}
			content "\ea9d"
icon-youtube2(pos)
	.icon-youtube2
		&:{unquote(pos)}
			content "\ea9e"
icon-twitch(pos)
	.icon-twitch
		&:{unquote(pos)}
			content "\ea9f"
icon-vimeo(pos)
	.icon-vimeo
		&:{unquote(pos)}
			content "\eaa0"
icon-vimeo2(pos)
	.icon-vimeo2
		&:{unquote(pos)}
			content "\eaa1"
icon-lanyrd(pos)
	.icon-lanyrd
		&:{unquote(pos)}
			content "\eaa2"
icon-flickr(pos)
	.icon-flickr
		&:{unquote(pos)}
			content "\eaa3"
icon-flickr2(pos)
	.icon-flickr2
		&:{unquote(pos)}
			content "\eaa4"
icon-flickr3(pos)
	.icon-flickr3
		&:{unquote(pos)}
			content "\eaa5"
icon-flickr4(pos)
	.icon-flickr4
		&:{unquote(pos)}
			content "\eaa6"
icon-dribbble(pos)
	.icon-dribbble
		&:{unquote(pos)}
			content "\eaa7"
icon-behance(pos)
	.icon-behance
		&:{unquote(pos)}
			content "\eaa8"
icon-behance2(pos)
	.icon-behance2
		&:{unquote(pos)}
			content "\eaa9"
icon-deviantart(pos)
	.icon-deviantart
		&:{unquote(pos)}
			content "\eaaa"
icon-500px(pos)
	.icon-500px
		&:{unquote(pos)}
			content "\eaab"
icon-steam(pos)
	.icon-steam
		&:{unquote(pos)}
			content "\eaac"
icon-steam2(pos)
	.icon-steam2
		&:{unquote(pos)}
			content "\eaad"
icon-dropbox(pos)
	.icon-dropbox
		&:{unquote(pos)}
			content "\eaae"
icon-onedrive(pos)
	.icon-onedrive
		&:{unquote(pos)}
			content "\eaaf"
icon-github(pos)
	.icon-github
		&:{unquote(pos)}
			content "\eab0"
icon-npm(pos)
	.icon-npm
		&:{unquote(pos)}
			content "\eab1"
icon-basecamp(pos)
	.icon-basecamp
		&:{unquote(pos)}
			content "\eab2"
icon-trello(pos)
	.icon-trello
		&:{unquote(pos)}
			content "\eab3"
icon-wordpress(pos)
	.icon-wordpress
		&:{unquote(pos)}
			content "\eab4"
icon-joomla(pos)
	.icon-joomla
		&:{unquote(pos)}
			content "\eab5"
icon-ello(pos)
	.icon-ello
		&:{unquote(pos)}
			content "\eab6"
icon-blogger(pos)
	.icon-blogger
		&:{unquote(pos)}
			content "\eab7"
icon-blogger2(pos)
	.icon-blogger2
		&:{unquote(pos)}
			content "\eab8"
icon-tumblr(pos)
	.icon-tumblr
		&:{unquote(pos)}
			content "\eab9"
icon-tumblr2(pos)
	.icon-tumblr2
		&:{unquote(pos)}
			content "\eaba"
icon-yahoo(pos)
	.icon-yahoo
		&:{unquote(pos)}
			content "\eabb"
icon-yahoo2(pos)
	.icon-yahoo2
		&:{unquote(pos)}
			content "\eabc"
icon-tux(pos)
	.icon-tux
		&:{unquote(pos)}
			content "\eabd"
icon-appleinc(pos)
	.icon-appleinc
		&:{unquote(pos)}
			content "\eabe"
icon-finder(pos)
	.icon-finder
		&:{unquote(pos)}
			content "\eabf"
icon-android(pos)
	.icon-android
		&:{unquote(pos)}
			content "\eac0"
icon-windows(pos)
	.icon-windows
		&:{unquote(pos)}
			content "\eac1"
icon-windows8(pos)
	.icon-windows8
		&:{unquote(pos)}
			content "\eac2"
icon-soundcloud(pos)
	.icon-soundcloud
		&:{unquote(pos)}
			content "\eac3"
icon-soundcloud2(pos)
	.icon-soundcloud2
		&:{unquote(pos)}
			content "\eac4"
icon-skype(pos)
	.icon-skype
		&:{unquote(pos)}
			content "\eac5"
icon-reddit(pos)
	.icon-reddit
		&:{unquote(pos)}
			content "\eac6"
icon-hackernews(pos)
	.icon-hackernews
		&:{unquote(pos)}
			content "\eac7"
icon-wikipedia(pos)
	.icon-wikipedia
		&:{unquote(pos)}
			content "\eac8"
icon-linkedin(pos)
	.icon-linkedin
		&:{unquote(pos)}
			content "\eac9"
icon-linkedin2(pos)
	.icon-linkedin2
		&:{unquote(pos)}
			content "\eaca"
icon-lastfm(pos)
	.icon-lastfm
		&:{unquote(pos)}
			content "\eacb"
icon-lastfm2(pos)
	.icon-lastfm2
		&:{unquote(pos)}
			content "\eacc"
icon-delicious(pos)
	.icon-delicious
		&:{unquote(pos)}
			content "\eacd"
icon-stumbleupon(pos)
	.icon-stumbleupon
		&:{unquote(pos)}
			content "\eace"
icon-stumbleupon2(pos)
	.icon-stumbleupon2
		&:{unquote(pos)}
			content "\eacf"
icon-stackoverflow(pos)
	.icon-stackoverflow
		&:{unquote(pos)}
			content "\ead0"
icon-pinterest(pos)
	.icon-pinterest
		&:{unquote(pos)}
			content "\ead1"
icon-pinterest2(pos)
	.icon-pinterest2
		&:{unquote(pos)}
			content "\ead2"
icon-xing(pos)
	.icon-xing
		&:{unquote(pos)}
			content "\ead3"
icon-xing2(pos)
	.icon-xing2
		&:{unquote(pos)}
			content "\ead4"
icon-flattr(pos)
	.icon-flattr
		&:{unquote(pos)}
			content "\ead5"
icon-foursquare(pos)
	.icon-foursquare
		&:{unquote(pos)}
			content "\ead6"
icon-yelp(pos)
	.icon-yelp
		&:{unquote(pos)}
			content "\ead7"
icon-paypal(pos)
	.icon-paypal
		&:{unquote(pos)}
			content "\ead8"
icon-chrome(pos)
	.icon-chrome
		&:{unquote(pos)}
			content "\ead9"
icon-firefox(pos)
	.icon-firefox
		&:{unquote(pos)}
			content "\eada"
icon-IE(pos)
	.icon-IE
		&:{unquote(pos)}
			content "\eadb"
icon-edge(pos)
	.icon-edge
		&:{unquote(pos)}
			content "\eadc"
icon-safari(pos)
	.icon-safari
		&:{unquote(pos)}
			content "\eadd"
icon-opera(pos)
	.icon-opera
		&:{unquote(pos)}
			content "\eade"
icon-file-pdf(pos)
	.icon-file-pdf
		&:{unquote(pos)}
			content "\eadf"
icon-file-openoffice(pos)
	.icon-file-openoffice
		&:{unquote(pos)}
			content "\eae0"
icon-file-word(pos)
	.icon-file-word
		&:{unquote(pos)}
			content "\eae1"
icon-file-excel(pos)
	.icon-file-excel
		&:{unquote(pos)}
			content "\eae2"
icon-libreoffice(pos)
	.icon-libreoffice
		&:{unquote(pos)}
			content "\eae3"
icon-html-five(pos)
	.icon-html-five
		&:{unquote(pos)}
			content "\eae4"
icon-html-five2(pos)
	.icon-html-five2
		&:{unquote(pos)}
			content "\eae5"
icon-css3(pos)
	.icon-css3
		&:{unquote(pos)}
			content "\eae6"
icon-git(pos)
	.icon-git
		&:{unquote(pos)}
			content "\eae7"
icon-codepen(pos)
	.icon-codepen
		&:{unquote(pos)}
			content "\eae8"
icon-svg(pos)
	.icon-svg
		&:{unquote(pos)}
			content "\eae9"
icon-IcoMoon(pos)
	.icon-IcoMoon
		&:{unquote(pos)}
			content "\eaea"