- 
	var config = { 
		"siteName":"Williamns sonoma",
		"prefix":"ws",
		"urlLoader":"",
		"logoSite":"",
		"headersCss":[
			{"page"	:	"all", "media"	:	"all",	"src"	:	"https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono", "rel":"stylesheet", "type":"text/css"},

			{"page"	:	"all", "media"	:	"all",	"src"	:	"https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Source+Sans+Pro:300,400,700", "rel":"stylesheet", "type":"text/css"},
			{"page"	:	"all", "media"	:	"all",	"src"	:	"https://fonts.googleapis.com/icon?family=Material+Icons", "rel":"stylesheet", "type":"text/css"}
		],
		"headersJs":[
			{"page":"all","src":"../js/bundle-handlerComponent.js"},
			{"page":"all","src":"https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"}

		],
		"atoms":[],
		"molecules":[],
		"organisms":[],
		"templates":[],
		"pages":[]
	};