@import '../../resources/colors'
// Responsive ----------
.m-listButtonText
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
	list-style-type none
.m-listButtonText__item
	width 100%
	text-align center
	padding 5px
	width auto

.m-listButtonText__item:hover, .m-listButtonText__item button:hover
	cursor pointer
	
.m-listButtonText__item button
	border 0
	padding 10px
	background: colors.darkGray;
	color white

	
	
@media screen and (max-width:1300px){
	.m-listButtonText{
		flex-direction: column;
	}
	.m-listButtonText__item, .m-listButtonText__item button{
		text-align: center;
		width: 100%;
	}
}
