// Responsive ----------
.m-listComplete
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content space-around
	list-style-type none
.m-listComplete__item
	width 100%
	font-family 'Source Sans Pro', sans-serif
	text-align center
	padding 5px
	display flex
	flex-direction column
	justify-content center
	align-items center
.m-listComplete__item:last-child
	border-right 0px solid transparent
.m-listComplete__item:hover
	cursor pointer
	// background-color #f5f5f5
	
.m-listComplete--verticalPipe li
	border-right 1px solid gray

.m-listComplete--horizontalPipe li
	border-bottom 1px solid gray
	
.m-listComplete--horizontalPipe li:hover
	border-bottom 3px solid gray
	
.m-listComplete--vertical li
	border-right 1px solid gray

.m-listComplete--horizontal li
	border-right 1px solid gray
	flex-direction row
.m-listComplete--horizontal li:hover span
	color #F5A623
.m-listComplete--horizontal li > *
	display inline-block
	vertical-align top
	padding 5px	
	
	
	
@media screen and (max-width:1300px){
	.m-listComplete{
		flex-direction: column;
	}
	.m-listComplete__item{
		border-right: 0px;
		text-align: left;
		border-bottom: 1px solid gray;
	}
	.m-listComplete__item span, .m-listComplete__item p{
		display: inline-block;
	}
	.m-listComplete__item span{
		margin-right: 10px;
	}
	.m-listComplete__item:last-child{
		border-bottom: 0px solid transparent;
	}
}