@import '../../resources/colors'
// Responsive ----------
.list-galerias-login
	overflow hidden
	display flex
	flex-direction row
	justify-content flex-end
	list-style-type none
	background #343851

.list-galerias-login-item
	width 15%

.list-galerias-login-item:last-child button
	background #e0e1e6
	color #343851

.list-galerias-login-item:hover, .list-galerias-login-item button:hover
	cursor pointer
	
.list-galerias-login-item button
	border 0
	padding 10px
	background none
	color white
	margin 0 auto

@media screen and (max-width:1300px){
	.list-galerias-login{
		flex-direction: column;
	}
	.list-galerias-login-item, .list-galerias-login-item button{
		text-align: center;
		width: 100%;
	}
}
