.m-listSimple
	list-style-type none
	margin-bottom 10px
	overflow hidden
	display flex
	flex-direction row
	justify-content center
	
.m-listSimple__item
	width auto
	text-align center
	padding 5px
.m-listSimple__opcion
	color inherit
	
.m-listSimple__item:hover
	cursor pointer
	font-weight bold
	
.m-listSimple--normal
	font-family 'Source Sans Pro', sans-serif

.m-listSimple--light
	font-family 'Source Sans Pro', sans-serif
	font-weight lighter
	
.m-listSimple--bold
	font-family 'Source Sans Pro', sans-serif
	font-weight bold

@media screen and (max-width:1300px){
	.m-listSimple{
		flex-direction: column;
		margin-bottom: 0px;
	}
	.m-listSimple__item{
		border: 0px;
		text-align: left;
		margin-bottom: 15px;
	}
	.m-listSimple__item:last-child{
		border-bottom: 0px solid transparent;
	}
	
	.m-listSimple--normal,
	.m-listSimple--light,
	.m-listSimple--bold{
		font-weight normal
	}
		
}
