<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'aForm'
	include ../resources/configuration
	include ../resources/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Atoms > Forms
			section.mainMenu
		section(class="body")
			include ../resources/menu
			
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Forms
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Headings
							- var el = "a-heading1"
							- var dataAtom = { txt : 'Heading level 1', modifiers: false, modifier: '', el : el };
							include ../atoms/texts/headings/h1
							- var el = "a-heading2"
							- var dataAtom = { txt : 'Heading level 2', modifiers: false, modifier: '', el : el };
							include ../atoms/texts/headings/h2
							- var el = "a-heading3"
							- var dataAtom = { txt : 'Heading level 3', modifiers: false, modifier: '', el : el };
							include ../atoms/texts/headings/h3
							- var el = "a-heading4"
							- var dataAtom = { txt : 'Heading level 4', modifiers: false, modifier: '', el : el };
							include ../atoms/texts/headings/h4
							- var el = "a-heading5"
							- var dataAtom = { txt : 'Heading level 5', modifiers: false, modifier: '', el : el };
							include ../atoms/texts/headings/h5


				