<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'aImage'
	include ../resources/configuration
	include ../resources/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Atoms > Image
			section.mainMenu
		section(class="body")
			include ../resources/menu
			
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Images
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.

					//div(class="main-article__component")
					//	div(class="main-article__component--view")
					//		h2(class="main-article__component--title")
					//			| Hero
					//		- var el = "a-heroImage";
					//		- var modifiers = ['ellipse--blur','ellipse', 'blur', 'opacity'];
					//		include ../resources/modifiers
					//		- var dataAtom = { img : 'hero.png', modifiers: true, modifier: '', el : el };
					//		include ../atoms/images/img

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Banner
							h3(class="main-article__component--device")
								| Portrait
							- var el = "a-portraitBanner"
							- var dataAtom = { img : 'portraitBanner.png', modifiers: false, modifier: '', el : el };
							include ../atoms/images/img
					
					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Banner
							h3(class="main-article__component--device")
								| PortraitSlim
							- var el = "a-portraitBannerSlim"
							- var dataAtom = { img : 'portraitBannerSlim.png', modifiers: false, modifier: '', el : el };
							include ../atoms/images/img

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Banner
							h3(class="main-article__component--device")
								| Landscape
							- var el = "a-landscapeBanner"
							- var dataAtom = { img : 'landscapeBanner.png', modifiers: false, modifier: '', el : el };
							include ../atoms/images/img

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Banner
							h3(class="main-article__component--device")
								| LandscapeHero
							- var el = "a-landscapeBannerHero"
							- var dataAtom = { img : 'landscapeBannerHero.png', modifiers: false, modifier: '', el : el };
							include ../atoms/images/img

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| Banner
							h3(class="main-article__component--device")
								| simple
							- var el = "a-simpleBanner"
							- var dataAtom = { img : 'simpleBanner.png', modifiers: false, modifier: '', el : el };
							include ../atoms/images/img
