<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'aRadioButton'
	include ../resources/configuration
	include ../resources/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Atoms > Radio button
			section.mainMenu
		section(class="body")
			include ../resources/menu
			

			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Cards
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					

					div(class="main-article__component")
						div(class="main-article__component--view")
							h2(class="main-article__component--title")
								| radioButton

							h3(class="main-article__component--device")
								| Responsive

							- var customList = {id:'radioComponentChk', name:'radioComponentChk', value:'checked', chk:true};
							include ../atoms/radioButtons/radioButton
							- var customList = {id:'radioComponent', name:'radioComponent', value:'unchecked', chk:false};
							include ../atoms/radioButtons/radioButton
						
						div(class="main-article__component--code")
							- var codeComponent = 'code-a-floatingButton';
							include ../resources/code
					