<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'oFooter'
	include ../resources/configuration
	include ../resources/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Organisms > Footer
			section.mainMenu
		section(class="body")
			include ../resources/menu
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Footer
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					


					// --------------------------------------------------------
					
					div(class="main-article__organisms")
						div(class="main-article__organisms--view")
							h2(class="main-article__organisms--title")
								| Footer-basic
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "footer-basic btnCss"},{"txt" : "html", "cls" : "footer-basic btnHtml"}];
							include ../molecules/list/buttonText

							h3(class="main-article__organisms--device")
								| Responsive
							include ../organisms/footerBasic
						div(class="main-article__organisms--code")
							h2(class="main-article__organisms--title")
								| Footer-basic-code
							- var codeComponent = 'code-footer-basic';
							include ../resources/code

