<!DOCTYPE html>
html(lang="es")
	- var currentPage = 'oMalls'
	include ../resources/configuration
	include ../resources/headers
	body
		section(class="header")
			section.projectName
				a(href="/")
					span(class="icon-home")
					span
						|	UX Design

			section(class="breadcrums")
				p(class="breadcrums-title")
					| Organisms > Malls
			section.mainMenu
		section(class="body")
			include ../resources/menu
			


			// ============================================================================================
			section(class="main")
				article(class="main-article")
					h1(class="main-article__title")
						| Malls
					nav(class="main-article__btnCodes")
						button(id="allCssList" class="getStyle all") Show CSS
						button(id="allHtmlList" class="getHTML all") Show HTML
					div(class="showAllCssRules hiddeCssRule" id="showAllCssRules")
					div(class="showAllHtmlRules hiddeHtmlRule" id="showAllHtmlRules")
					p(class="main-article__description")
						| Navigational transitions occur when users move between screens, such as from a home screen to a detail screen.
					


					// --------------------------------------------------------
					
					div(class="main-article__organisms")
						div(class="main-article__organisms--view")
							h2(class="main-article__organisms--title")
								| Malls-list
							- var action = true;
							- var customList = [{"txt" : "styles", "cls" : "malls-list btnCss"},{"txt" : "html", "cls" : "malls-list btnHtml"}];
							include ../molecules/list/buttonText

							h3(class="main-article__organisms--device")
								| Responsive
							- var cmp = 'malls-list';
							- var modifiers = ['list-Vertical', 'list-Horizontal'];
							- var mode = cmp+'__'+modifiers[1]
							include ../resources/modifiers
							- var customList = {elements : 25, include: 'mall'};
							include ../organisms/malls





						div(class="main-article__organisms--code")
							h2(class="main-article__organisms--title")
								| Malls-list-code
							- var codeComponent = 'code-malls-list';
							include ../resources/code

