.font__SansPro--normal
	typeFont(SansPro, normal)
.font__SansPro--lighter	
	typeFont(SansPro, lighter)
.font__SansPro--bold
	typeFont(SansPro, bold)
	
.font__Montserrat--normal
	typeFont(Montserrat, normal)
.font__Montserrat--lighter
	typeFont(Montserrat, light)
.font__Montserrat--bold
	typeFont(Montserrat, bold)