if customList
	ul(class="m-listComplete "+modifier id="m-listComplete")
		each v0,i0 in customList
			li(class='m-listComplete__item')
				if v0.ico
					span(class=v0.ico id= idB)

						if v0.icoName
							| #{v0.icoName}
				if v0.txt
					p #{v0.txt}
else
	- var ico = ['office', 'home', 'eyedropper', 'droplet', 'pencil', 'headphones', 'film', 'dice', 'library'];
	ul(class="m-listComplete "+modifier id="m-listComplete")
		each v0,i0 in config.defaultText
			li(class='m-listComplete__item') 
				span(class='icon-'+ico[i0]) 
				p #{v0.txt}
