if customList
	ul(class="m-listIcon" id="m-listIcon")
		each val, index in customList
			li(class='m-listIcon__item')
				span(class='icon-'+val)
else
	ul(class="m-listIcon" id="m-listIcon")
		each val, index in ['office', 'home', 'eyedropper', 'droplet', 'pencil', 'headphones', 'film', 'dice', 'library']
			li(class='m-listIcon__item')
				span(class='icon-'+val)
