if customList
	ul(class="m-listSimple "+modifier id="m-listSimple")
		each v0,i0 in customList
			li(class='m-listSimple__item')
				a(href="https://planetarynames.wr.usgs.gov/Page/Planets" target='_blank') #{v0}
else
	ul(class="m-listSimple "+modifier id="m-listSimple")
		each v0,i0 in config.defaultText
			li(class='m-listSimple__item')
				a(href="https://planetarynames.wr.usgs.gov/Page/Planets" target='_blank') #{v0.txt}